---
layout: default
lang: en
permalink: /mexico/customer-service/cancellations.html
alternate_en: /mexico/customer-service/cancellations.html
alternate_mx: /mx/
published: true
body_class: basic custsvcpage
title: How to Cancel a Mexico Insurance Policy Not Yet in Effect | Mexpro
excerpt: Need to cancel a Mexico insurance policy that is not in effect yet, where the policy date is at some time in the future? Follow these steps.
---
<div class="container-fluid">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>How to Cancel a Mexico Auto Insurance Policy</h1>
                    <h2>Cancel a Policy Not Yet in Effect</h2>
                    <p>All Mexpro cancellations must be sent to us in writing; you can complete our quick <a href="https://help.mexpro.com/hc/en-us/requests/new?ticket_form_id=78967">online cancellation form</a> or you can <a href="#customersvc-login-cancellations" role="button" data-toggle="modal" data-target="#customersvc-login-cancellations">log in</a> to your account to cancel. Policies cancelled before they are in effect, before the date the insurance coverage begins, will receive a full refund. See our page on in effect cancelations if your coverage has begun.</p>

                    <p>All refunds will be credited back to the card that was originally used. Depending on your credit card company or bank, you should see the refund within a week.</p>

                    <p><strong>Please note, a phone call will not cancel a policy.</strong></p>
                    <hr>
                    {% include customer-svc-buttons.html %}
                    {% include customer-svc.html %}
                </div>
            </div>
        </div><!-- End container -->
    </div>
</div> <!-- End -->
<div class="modal fade" id="customersvc-login-cancellations" tabindex="-1" role="dialog" aria-labelledby="customersvc-login-header" aria-hidden="true">
  <div class="modal-dialog">
    <form action="https://www.mexpro.com/client_login/do/login.mhtml?aff_id=2149&amp;agtdst=cancellations" method="POST" name="log-in">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">x</button>
          <h2 id="customersvc-login-header">Purchased With Us Before?</h2>
        </div>
        <div class="modal-body">
            <p>If you purchased with us before, you can quickly re-issue a new policy.<br><a href="https://www.mexpro.com/client_login/retrieve_password.mhtml?aff_id=2149&amp;agtdst=cancellations" target="_blank">Click here to set up a password</a>.
            <p>Already Have Your Password?</p>
          <fieldset>
            <input type="text" class="form-control cl_username" name="username" placeholder="Email">
            <br>
            <input type="password" class="form-control cl_password" name="password" placeholder="Password">
          </fieldset>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
          <input type="submit" class="btn btn-info" value="Login" >
        </div>
      </div>
    </form>
  </div>
</div>
{% style cust-service %}