---
layout: default
lang: en
permalink: /mexico/customer-service/endorsements.html
alternate_en: /mexico/customer-service/endorsements.html
alternate_mx: /mx/
published: true
body_class: basic custsvcpage
title: How to Make Changes to Mexican Car Insurance Policy | Mexpro
excerpt: Need to make a change to your Mexican car insurance policy? A policy endorsement can be done by logging into your account, by email or phone.
---
<div class="container-fluid">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>How to Make Changes to a Policy</h1>
                    <p>Printing a policy, reissuing a policy and other minor changes can be done by <a href="#customersvc-login-endorse" role="button" data-toggle="modal" data-target="#customersvc-login-endorse">logging in to your online account</a>. You can also fill out an <a href="https://help.mexpro.com/hc/en-us/requests/new">online request form</a>. Or, one of our Mexpro Angels will help you when you call 855-MEXPRO1 (<a href="tel:+18556397761" rel="nofollow" title="Call Mexpro">+1-855-639-7761</a>) Toll Free.</p>
                    <hr>
                    {% include customer-svc-buttons.html %}
                    {% include customer-svc.html %}
                </div>
            </div>
        </div><!-- End container -->
    </div>
</div> <!-- End -->
<div class="modal fade" id="customersvc-login-endorse" tabindex="-1" role="dialog" aria-labelledby="customersvc-login-endorse-header" aria-hidden="true">
  <div class="modal-dialog">
    <form action="https://www.mexpro.com/client_login/do/login.mhtml?aff_id=2149&amp;agtdst=endorse" method="POST" name="log-in">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">x</button>
          <h2 id="customersvc-login-endorse-header">Purchased With Us Before?</h2>
        </div>
        <div class="modal-body">
            <p>If you purchased with us before, you can quickly re-issue a new policy.<br><a href="https://www.mexpro.com/client_login/retrieve_password.mhtml?aff_id=2149&amp;agtdst=endorse" target="_blank">Click here to set up a password</a>.
            <p>Already Have Your Password?</p>
          <fieldset>
            <input type="text" class="form-control cl_username" name="username" placeholder="Email">
            <br>
            <input type="password" class="form-control cl_password" name="password" placeholder="Password">
          </fieldset>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" aria-hidden="true">Close</button>
          <input type="submit" class="btn btn-primary" value="Login" >
        </div>
      </div>
    </form>
  </div>
</div>
{% style cust-service %}