---
layout: default
lang: en
permalink: /mexico/customer-service/
alternate_en: /mexico/customer-service/
alternate_mx: /mx/servicio-cliente/
published: true
body_class: basic custsvcpage
title: Customer Service for Mexico Insurance Policies | Mexpro
excerpt: If you need to make a change to your Mexico insurance policy, Mexpro's customer service center makes it easy. Follow our simple instructions or call us.
---
<div class="container-fluid">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Mexpro has over 15 Years of Experience</h1>
                    <p><img src="{{ site.url }}{{site.baseurl}}/images/cust-service/customer-service-angels.png" alt="Customer Service Angels" class="img-rt img-responsive img-rounded" width="146" height="150">Mexpro's outstanding customer service team will help you every step of the way in making changes or cancelling your policy. As well, we will assist you with any problems you might have with a claim, or if you just need clarification on a policy.</p>
                    <p>We understand that life happens and plans change. You can <a href="https://help.mexpro.com/hc/en-us/requests/new?ticket_form_id=78967">cancel</a> or <a href="https://help.mexpro.com/hc/en-us/requests/new?ticket_form_id=159828">change the dates</a> on your Mexico insurance policy now</a>.</p>
                    <p>Want to <a href="javascript:$zopim.livechat.window.show()">chat</a> with us, see the chat box in the bottom right of the page. We are available 6 days a week.</p>
                    <p>Want to try and search for the answer to your question on our website? Ask Us Anything, just type your question in the box below.</p>
                    <div class="center"><input class="st-default-search-input" id="st-search-input" placeholder="Ask Mexpro Anything..." autocomplete="on"></div>
                    <hr>
                    {% include customer-svc-buttons.html %}
                    {% include customer-svc.html %}
                </div>
            </div>
        </div><!-- End container -->
    </div>
</div> <!-- End -->
{% style cust-service %}