---
layout: default
lang: en
permalink: /mexico/customer-service/policy-change-cancel.html
alternate_en: /mexico/customer-service/policy-change-cancel.html
alternate_mx: /mx/
published: true
body_class: basic custsvcpage
title: Policy Changes and Cancellations | Mexican Auto Insurance | Mexpro
excerpt: Need to make a change to your Mexpro Mexican auto insurance policy or make a cancellation? Here we've provided quick and easy steps to take.
---
<div class="container-fluid">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Mexican Auto Insurance Policy Changes</h1>
                        <h2>Changes/Endorsements/Cancellations at a Glance</h2>
                        <p>In order to change your policy <strong>We MUST receive the following in writing:</strong></p>
                        <ol>
                            <li><p><strong>Cancellation Requests</strong></p>
                                <ol type="a">
                                    <li><p>Must include policy number, name of insured, and reason for cancellation</p></li>
                                </ol>
                            </li>
                            <li><p><strong>Transfer of coverage to second vehicle (one-time vehicle change)</strong></p>
                                <ol type="a"><li><p>Only available for six and 12 month policies.</p></li>
                                    <li><p>Must include year, make, model, VIN, license plate, and value.</p></li>
                                </ol>
                            </li>
                            <li><p><strong>Adding a towed unit or trailer</strong></p>
                                <ol type="a">
                                    <li><p>Only available for six and 12 month policies.</p></li>
                                    <li><p>Must include year, make, model, VIN, license plate, and value.</p></li>
                                </ol>
                            </li>
                        </ol>
                        <p>Please email these requests to <a href="mailto:mexico@mexpro.com" title="Email Mexpro">Mexico@Mexpro.com</a>.</p><br>
                        <h2>Endorsement Requests/Service that can be done over the phone:</h2>
                        <ol>
                            <li><p><strong>Name corrections</strong></p></li>
                            <li><p><strong>Vehicle corrections</strong></p>
                                <ol type="a">
                                    <li><p>Excludes the value or any change that would change the premium of the policy</p></li>
                                </ol>
                            </li>
                            <li><p><strong>Vehicle corrections</strong></p>
                                <ol type="a">
                                    <li><p>Excludes the value or any change that would change the premium of the policy</p></li>
                                </ol>
                            </li>
                            <li><p><strong>Effective date changes</strong></p>
                                <ol type="a">
                                    <li><p>Policy cannot yet be in effect</p></li>
                                </ol>
                            </li>
                            <li><p><strong>Add Drivers</strong></p>
                                <ol type="a">
                                    <li><p>Must have a valid US or Canadian license and be over 21 (unless this surcharge has been added to the policy prior to issuing) </p></li>
                                </ol>
                            </li>
                            <li><p><strong>Edit Lien holder information</strong></p></li>
                            <li><p><strong> Providing copy of policy </strong></p><br></li>
                        </ol>
                        <p><strong><u>Hours of Operation:</u></strong></p>
                        <p>Monday-Friday 7:00 a.m. - 6:00 p.m., Saturday 7:00 a.m. - 4:00 p.m. Arizona Mountain Standard Time (MST) (year round). Voicemail and email available after-hours.</p>
                    <hr>
                    {% include customer-svc-buttons.html %}
                    {% include customer-svc.html %}
                </div>
            </div>
        </div><!-- End container -->
    </div>
</div> <!-- End -->
{% style cust-service %}