---
layout: default
lang: en
permalink: /mexico/customer-service/refunds.html
alternate_en: /mexico/customer-service/refunds.html
alternate_mx: /mx/
published: true
body_class: basic custsvcpage
title: Refund of Premiums | Mexico Car Insurance Policies | Mexpro
excerpt: If you need to cancel your Mexico Car Insurance Policy, Mexpro can do that. Here we describe how the refund of premiums is handled most easily.
---
<div class="container-fluid">
    <div class="row">
        <div class="container">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Mexico Car Insurance Policy Refunds</h1>
                        <p>Refunds for cancelled Mexico insurance policies will be credited back to credit card with which the original policy was purchased. This may take a day or two depending on your credit card company/bank, and on their processing times.</p>
                        <p>For all Mexico car insurance policies, the refund will be credited to the credit card charged. Depending on your credit card company, you should see the refund within 72 hours. All refunds will be your return premium less a cancellations fee. This fee will apply to all cancellations unless an exception has been made. The cancellation fee is always half of the agency fee.</p>
                    <hr>
                    {% include customer-svc-buttons.html %}
                    {% include customer-svc.html %}
                </div>
            </div>
        </div><!-- End container -->
    </div>
</div> <!-- End -->
{% style cust-service %}