<div class="col-sm-12 custsvcbtn"> 
	<div class="col-sm-12 hidden-xs">
		<h2 class="center">What Can Mexpro Help You With?</h2>
		<ul>
			<li class="col-sm-4"><a href="http://help.mexpro.com/hc/en-us/requests/new?ticket_form_id=63637" class="btn btn-primary" role="button" title="General Information Request">General Request</a></li>
			<li class="col-sm-4"><a href="http://help.mexpro.com/hc/en-us/requests/new?ticket_form_id=159818" class="btn btn-primary" role="button" title="Change Vehicle ID Number">Change my VIN</a></li>
			<li class="col-sm-4"><a href="http://help.mexpro.com/hc/en-us/requests/new?ticket_form_id=159828" class="btn btn-primary" role="button" title="Change Policy Effective Dates">Change Policy Dates</a></li>
			<li class="col-sm-4"><a href="http://help.mexpro.com/hc/en-us/requests/new?ticket_form_id=159838" class="btn btn-primary" role="button" title="Change Lienholder Information">Change Lienholder Info</a></li>
			<li class="col-sm-4"><a href="http://help.mexpro.com/hc/en-us/requests/new?ticket_form_id=78967" class="btn btn-primary" role="button" title="Cancel a Policy">Cancel a Policy</a></li>
			<li class="col-sm-4"><a href="http://help.mexpro.com/hc/en-us/requests/new?ticket_form_id=78977" class="btn btn-primary" role="button" title="Send me a copy of the policy">Send me my Policy</a></li>
			<li class="col-sm-4"><a href="http://help.mexpro.com/hc/en-us/requests/new?ticket_form_id=159848" class="btn btn-primary" role="button" title="Add a Driver">Add a Driver</a></li>
			<li class="col-sm-4"><a href="http://help.mexpro.com/hc/en-us/requests/new?ticket_form_id=159858" class="btn btn-primary" role="button" title="Add a Trailer">Add a Trailer</a></li>
			<li class="col-sm-4"><a href="http://help.mexpro.com/hc/en-us/requests/new?ticket_form_id=78987" class="btn btn-primary" role="button" title="Vehicle Transfer">Vehicle Transfer</a></li>
			<li class="col-sm-4"><a href="http://help.mexpro.com/hc/en-us/requests/new?ticket_form_id=103757" class="btn btn-primary" role="button" title="Claims Follow up">Claims Follow Up</a></li>
		</ul>	
	</div>
	<div class="col-xs-12 hidden-sm hidden-md hidden-lg">
		<h2 class="center">What Can Mexpro Help You With?</h2>
		<ul>
			<li><a href="http://help.mexpro.com/hc/en-us/requests/new?ticket_form_id=63637" class="btn btn-primary" role="button" title="General Information Request">General Request</a></li>
			<li><a href="http://help.mexpro.com/hc/en-us/requests/new?ticket_form_id=159818" class="btn btn-primary" role="button" title="Change Vehicle ID Number">Change my VIN</a></li>
			<li><a href="http://help.mexpro.com/hc/en-us/requests/new?ticket_form_id=159828" class="btn btn-primary" role="button" title="Change Policy Effective Dates">Change Policy Dates</a></li>
			<li><a href="http://help.mexpro.com/hc/en-us/requests/new?ticket_form_id=159838" class="btn btn-primary" role="button" title="Change Lienholder Information">Change Lienholder Information</a></li>
			<li><a href="http://help.mexpro.com/hc/en-us/requests/new?ticket_form_id=78967" class="btn btn-primary" role="button" title="Cancel a Policy">Cancel a Policy</a></li>
			<li><a href="http://help.mexpro.com/hc/en-us/requests/new?ticket_form_id=78977" class="btn btn-primary" role="button" title="Send me a copy of the policy">Send me my Policy</a></li>
			<li><a href="http://help.mexpro.com/hc/en-us/requests/new?ticket_form_id=159848" class="btn btn-primary" role="button" title="Add a Driver">Add a Driver</a></li>
			<li><a href="http://help.mexpro.com/hc/en-us/requests/new?ticket_form_id=159858" class="btn btn-primary" role="button" title="Add a Trailer">Add a Trailer</a></li>
			<li><a href="http://help.mexpro.com/hc/en-us/requests/new?ticket_form_id=78987" class="btn btn-primary" role="button" title="Vehicle Transfer">Vehicle Transfer</a></li>
			<li><a href="http://help.mexpro.com/hc/en-us/requests/new?ticket_form_id=103757" class="btn btn-primary" role="button" title="Claims Follow up">Claims Follow Up</a></li>
		</ul>	
	</div>
</div>