<div class="col-sm-12 moreinfo">
	<hr>
	<h2 class="center">More information</h2>
	<ul class="center">
		<li><a href="{{ site.url }}{{site.baseurl}}/mexico/customer-service/" title="Policy change cancel overview">Customer Service</a></li>
		<li><a href="{{ site.url }}{{site.baseurl}}/mexico/customer-service/in-effect-cancellations.html" title="In Effect Cancellations">Cancellations and Refunds</a></li>
		<li><a href="{{ site.url }}{{site.baseurl}}/mexico/customer-service/endorsements.html" title="Endorsements">Making Policy Changes</a></li>
	</ul>
</div>