<footer>
<div class="container">
	<div class="col-sm-12 bot-menu">
		<div class="col-md-5 col-sm-12">
			<h5>Mexico Insurance</h5>
			<ul class="col-md-6 col-sm-12">
				<li class="title">Vehicle Insurance</li>
				<li>Mexico Tourist Auto</li>
				<li>USA Tourist Auto</li>
				<li>Mexican Resident Auto</li>
			</ul>
			<ul class="col-md-6 col-sm-12">
				<li class="title">Specialty Insurance</li>
				<li>Boat &amp; Personal Watercraft</li>
				<li>Home/Condo/Townhome</li>
				<li>Travel Health Insurance</li>
			</ul>
		</div>
		<div class="col-md-3 col-sm-12">
			<h5>Mexico Travel Tips</h5>
			<ul>
				<li>Temporary Importation Permits</li>
				<li>Before You Go</li>
				<li>Why You Need Mexico Insurance</li>
				<li>Does Your Car Insurance Cover You in Mexico?</li>
				<li>Roadside Assistance Mexico</li>
			</ul>
		</div>
		<div class="col-md-2 col-sm-12">
			<h5>About Mexpro</h5>
			<ul>
				<li>About Us</li>
				<li>Customer Service</li>
				<li>Claims</li>
				<li>FAQs</li>
				<li>Blog</li>
				<li>Contact Us</li>
			</ul>
		</div>
		<div class="col-md-2 col-sm-12">
			<ul>
				<li><h5>Buy Online</h5></li>
				<li><h5>Call Us</h5></li>
				<li><h5>Visit Our Office</h5></li>
			</ul>
		</div>
	</div> <!-- End bottom menu -->
	<div class="foot col-sm-12">
		<div class="nap col-sm-8">
			<ul>
				<li itemscope itemtype="http://schema.org/Corporation">&copy;1999 - {{ site.time | date:'%Y' }} <span itemprop="brand">Mexpro - Mexico Insurance Professionals</span></li>
				<li>DBA Mexico &amp; RV Insurance Services</li>
				<li>CA License Number 0D06599</li>
				<li itemscope itemtype="http://schema.org/PostalAddress"><span itemprop="streetAddress">214 East Birch Avenue</span>, <span itemprop="addressLocality">Flagstaff</span>, <span itemprop="addressRegion">Arizona</span> <span itemprop="postalCode">86001</span></li>
				<li class="" itemscope itemtype="http://schema.org/ContactPoint"><a href="tel:+19282149750" rel="nofollow" title="Call Mexpro"><span itemprop="telephone" contactType="customer support" areaServed="US" availableLanguage="English, Spanish">+1-928-214-9750</span></a></li>
				<li class="nobullet"><a href="/mexico/sitemap.html">Site Map</a></li>
			</ul>
		</div> <!-- End NAP -->
		<div class="tollsoc col-sm-4">
			<ul>
				<li itemscope itemtype="http://schema.org/ContactPoint"><a href="tel:+18556397761" rel="nofollow" title="Call Mexpro"><span itemprop="telephone" contactType="customer support" areaServed="US, CA, MX" ContactOption="TollFree" availableLanguage="English, Spanish"><span class="glyphicon glyphicon-earphone"></span> 1-855-MexPro1</span></a> Toll Free</li>
				<li><a class="foot-fb" href="" title="Mexpro on Facebook"></a></li>
				<li><a class="foot-twit" href="" title="Mexpro on Twitter"></a></li>
				<li><a class="foot-gplus" href="" title="Mexpro on Google Plus"></a></li>
			</ul>
		</div> <!-- End toll free number & social media -->
	</div> <!-- End foot -->
</div> <!-- End container -->
</footer>
