<nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <div itemscope itemtype="http://schema.org/Organization">
        <a itemprop="url" class="navbar-brand" href="/"><img itemprop="logo" class="hidden-xs hidden-sm" src="/images/mexpro-2017logo.png" alt="Mexpro Logo" width="257" height="70"><img itemprop="logo" class="hidden-lg hidden-md" src="/images/mexpro-2017logo-mobile1.png" alt="Mexpro Logo" width="186" height="45"></a>
      </div>
      <div class="search hidden-md hidden-lg">
          <a href="#" class="st-search-show-outputs"><span class="glyphicon glyphicon-search"></span></a>
      </div> 
      
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target=".navbar-collapse" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="mobphonenav hidden-md hidden-lg" itemscope itemtype="http://schema.org/ContactPoint">
        <button type="button" onclick="location.href='tel:+18556397761'" class="btn btn-mobile"> <span class="glyphicon glyphicon-earphone"></span><span itemprop="telephone" contactType="customer support" areaServed="US, CA, MX" ContactOption="TollFree" availableLanguage="English, Spanish">1-855-MEXPRO1</span></button>
      </div> <!-- / mobile phone number -->
    </div> <!-- /navbar-header -->
    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <div class="row row1">
        <ul class="nav navbar-nav navbar-right">
          <!--<li role="presentation" class="{% if page.body_class == 'contact' %}active{% endif %}">
            <a href="{{ site.url }}/mexico/contact-mexican-insurance-online.html">Contact Us</a>
          </li>
          <li class="navdivider"></li>-->
          <li role="presentation" class="{% if page.body_class == 'language' %}active{% endif %}">
              <a href="{{ site.url }}/{{page.canonical_mx}}">Español</a>
          </li>
          <li class="navdivider"></li>
          <li role="presentation" class="{% if page.body_class == '855' %}active{% endif %}" itemscope itemtype="http://schema.org/ContactPoint">
            <a href="tel:+18556397761" rel="nofollow" title="Call Mexpro"><span class="glyphicon glyphicon-earphone"></span> <span itemprop="telephone" contactType="customer support" areaServed="US, CA, MX" ContactOption="TollFree" availableLanguage="English, Spanish">1-855-MexPro1</span></a>
          </li>
          <li class="navdivider"></li>
          <li role="presentation" class="{% if page.body_class == 'Search' %}active{% endif %} st-search-show-outputs">
            <a href="#" class="st-search-show-outputs"><span class="glyphicon glyphicon-search"></span> Search Mexpro</a>
          </li>
        </ul>
      </div> <!-- /row1 -->
      <div class="row row2">
          <ul class="nav navbar-nav">
              <li role="presentation" class="{% if page.body_class == 'home' %}active{% endif %}">
                <a href="{{ site.url }}">Home</a>
              </li>
              <li class="navdivider"></li>
              <li class="{% if page.body_class == 'language' %}active{% endif %} hidden-md hidden-lg">
                <a href="{{ site.url }}/{{page.canonical_mx}}">Español</a>
              </li>
              <li role="presentation" class="hidden-md hidden-lg"><button class="btn btn-buy btn-xs" onclick="location.href='https://www.mexpro.com/en-US/quotes/new/?agtdst=buytopnav#/'" type="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> BUY NOW</button></li>
              <li role="presentation" class="hidden-md hidden-lg"><button type="button" class="btn btn-login btn-xs" href="#customer-login-topnav" role="button" data-toggle="modal" data-target="#customer-login-topnav"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> LOG IN</button></li>
              <li role="presentation" class="dropdown">
                <a href="{{ site.url }}/mexico/auto/insurance.html?utm_source=nav2&utm_medium=www&utm_campaign=navautopage" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="true">Insurance <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="{{ site.url }}/mexico/auto/insurance.html?utm_source=nav2&utm_medium=www&utm_campaign=navautopage">Mexico Tourist Auto</a></li>
                    <li><a href="{{ site.url }}/mexico/home-insurance/?utm_source=nav2&utm_medium=www&utm_campaign=navautopage">Home, Condo, Townhome</a></li>
                    <li><a href="{{ site.url }}/mexico/boat/?utm_source=nav2&utm_medium=www&utm_campaign=navboatpage">Boat &amp; Personal Watercraft</a></li>
                    <li><a href="{{ site.url }}/mexico/holiday-medical-insurance.html?utm_source=nav2&utm_medium=www&utm_campaign=navtmedpage">Travel Health Insurance</a></li>
                    <li><a href="{{ site.url }}/mexico/short-term-us-auto-insurance?utm_source=nav2&utm_medium=www&utm_campaign=navnbpage">USA Tourist Auto</a></li>
                    <!--<li><a href="#{{ site.url }}">Mexican Resident Auto</a></li>-->
                  </ul>
              </li>
              <li class="navdivider"></li>
              <li role="presentation" class="{% if page.body_class == 'custserv' %}active{% endif %}">
                <a href="{{ site.url }}/mexico/customer-service/?utm_source=nav2&utm_medium=www&utm_campaign=navcustsvcpage">Customer Service</a>
              </li>
              <li class="navdivider"></li>
              <li role="presentation" class="{% if page.body_class == 'claims' %}active{% endif %}">
                <a href="{{ site.url }}/mexico/claims/instructions.html?utm_source=nav2&utm_medium=www&utm_campaign=navclaimpage">Claims</a>
              </li>
              <li class="navdivider"></li>
              <!--<li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">FAQ <span class="caret"></span></a>
                <ul class="dropdown-menu">
                  <li><a href="#">Mexico Tourist Auto</a></li>
                  <li><a href="#">Home, Condo, Townhome</a></li>
                  <li><a href="#">Boat &amp; Personal Watercraft</a></li>
                  <li><a href="#">Travel Health Insurance</a></li>
                  <li><a href="#">USA Tourist Auto</a></li>
                  <li><a href="#">Mexican Resident Auto</a></li>
                </ul>
              </li>
              <li class="navdivider"></li>-->
              <li role="presentation" class="{% if page.body_class == 'about' %}active{% endif %}">
                <a href="{{ site.url }}/mexico/about-mexico-car-insurance-pros.html?utm_source=nav2&utm_medium=www&utm_campaign=navaboutpage">About</a>
              </li>
              <li role="presentation" class="hidden-sm hidden-md hidden-lg" itemscope itemtype="http://schema.org/ContactPoint">
                <a href="tel:+18556397761" rel="nofollow" title="Call Mexpro"><span class="glyphicon glyphicon-earphone"></span> <span itemprop="telephone" contactType="customer support" areaServed="US, CA, MX" ContactOption="TollFree" availableLanguage="English, Spanish">1-855-MexPro1</span></a>
              </li>
          </ul>
          <ul class="nav-btn">
            <li><button type="button" class="btn btn-login btn-xs" href="#customer-login-topnav" role="button" data-toggle="modal" data-target="#customer-login-topnav"><span class="glyphicon glyphicon-lock" aria-hidden="true"></span> LOG IN</button></li>
            <li><button class="btn btn-buy btn-xs" onclick="location.href='https://www.mexpro.com/en-US/quotes/new/?agtdst=buytopnav#/'" type="button"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> BUY NOW</button></li>
      </div> <!-- / row2 -->
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
<!-- Customer Login top nav modal/popup -->
<div class="modal fade" id="customer-login-topnav" tabindex="-1" role="dialog" aria-labelledby="customer-login-header" aria-hidden="true">
  <div class="modal-dialog">
    <form action="https://www.mexpro.com/client_login/do/login.mhtml?aff_id=2149&amp;agtdst=logintopnav" method="POST" name="log-in">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">x</button>
          <h2 id="customer-login-header">Purchased With Us Before?</h2>
        </div>
        <div class="modal-body">
          <p>If you purchased with us before, you can quickly re-issue a new policy.<br><a href="https://www.mexpro.com/client_login/retrieve_password.mhtml?aff_id=2149&amp;agtdst=forgotpwtopnav" target="_blank">Click here to set up a password</a>.
          <p>Already Have Your Password?</p>
          <fieldset>
            <input type="text" class="form-control cl_username" name="username" placeholder="Email">
            <br>
            <input type="password" class="form-control cl_password" name="password" placeholder="Password">
          </fieldset>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
          <input type="submit" class="btn btn-primary" value="Login" >
        </div>
      </div>
    </form>
  </div>
</div>