<!-- Top Navbar for desktop, tablet -->
<header class="navbar navbar-default navbar-fixed-top" role="banner">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="logo" href="/"> 
        <img src="/images/mexpro-2017logo.png" alt="Mexpro"> 
      </a> 
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav pull-right">
        <li role="presentation" class="{% if page.body_class == 'contact' %}active{% endif %}">
          <a href="/mexico/contact-mexican-insurance-online.html">Contact Us</a>
        </li>
        <li role="presentation" class="{% if page.body_class == 'about' %}active{% endif %}">
          <a href="/{{canonical_mx}}">Español</a>
        </li>
        <li role="presentation" class="{% if page.body_class == '855' %}active{% endif %}">
          <a href="tel:+18556397761" rel="nofollow" title="Call Mexpro"><span class="glyphicon glyphicon-earphone"></span> <span itemprop="telephone" contactType="customer support" areaServed="US, CA, MX" ContactOption="TollFree" availableLanguage="English, Spanish">1-855-MexPro1</span></a>
        </li>
        <li role="presentation" class="{% if page.body_class == 'Search' %}active{% endif %} st-search-show-outputs">
          <a href="#"><span class="glyphicon glyphicon-search"></span> Search Mexpro</a>
        </li>
      </ul>
    </div><!--/.navbar-collapse -->
  </div>
</header>
