<!-- Hamburger Menu Fix -->
<!-- Allows for menu to close when clicked. -->
<script>

	jQuery(document).ready(function () {

		jQuery(document).on('click touchstart', function (event) {

			var clickover = $(event.target);
			event.stopPropagation();
			
			var _opened = $(".navbar-collapse").hasClass("navbar-collapse collapse in");
			
			if(_opened === true && !clickover.parent().parent().hasClass("phone")){
				
				if(!clickover.hasClass("navbar-toggle") && !clickover.hasClass("dropdown-toggle") && !clickover.hasClass("navbar-nav") && !clickover.hasClass("phone") && event.target.tagName != "A"){
				
				jQuery("button.navbar-toggle").click();
				}
			}

		});

	});
		  
</script>