<h2 class="blue" title="More Vehicle Import Information">More Information</h2>
<ul>
	<li><a title="Vehicle Import Permit" href="{{ site.url }}{{site.baseurl}}/mexico/vehicle-import-permit.html">Vehicle Import Permits</a></li>
	<li><a title="RV Vehicle Import Permit" href="{{ site.url }}{{site.baseurl}}/mexico/rv-vehicle-import-permit.html">RV Vehicle Import Permits</a></li>
	<li><a href="{{ site.url }}{{site.baseurl}}/mexico/sonora-vehicle-import-permit.html" title="Sonora Only Vehicle Import Permit">Sonora Only Vehicle Import Permits</a></li>
	<li><a title="Vehicle Import Permit Questions" href="{{ site.url }}{{site.baseurl}}/mexico/vehicle-import-permit-faqs.html">Vehicle Import Permit FAQs</a></li>
	<li><a href="https://www.mexpro.com/blog/banjercito-need-know" title="Who is Banjercito">Who is Banjercito?</a></li>
	<li><a href="https://www.mexpro.com/blog/cancel-temporary-vehicle-importation-permit-tip" title="How to Cancel a Vehicle Importation Permit">How to Cancel a Vehicle Importation Permit</a></li>
	<li><a href="//www.banjercito.com.mx/registroVehiculos/" title="Get a vehicle importation permit from Banjercito" target="_blank">Get a Vehicle Importation Permit Now</a></li>
	<li><a href="https://www.mexpro.com/blog/vehicle-import-permit/">More About Vehicle Importation Permits on our Blog</a></li>
</ul>
<br>