files:
  "/etc/awslogs/config/nginx-log.conf":
    mode: "000644"
    owner: root
    group: root
    encoding: plain
    content: |
        [nginx-access.log]
        datetime_format = %Y-%m-%dT%H:%M:%S%f
        file = /var/log/containers/nginx-*.log
        buffer_duration = 5000
        log_stream_name = jekyll-mexpro-rproxy-{instance_id}
        initial_position = start_of_file
        log_group_name = jekyll-mexpro-rproxy