files:
  "/etc/awslogs/config/nginx-log.conf":
    mode: "000644"
    owner: root
    group: root
    encoding: plain
    content: |
        [nginx-container.log]
        file = /var/log/containers/nginx-*.log
        buffer_duration = 5000
        log_stream_name = {instance_id}
        initial_position = start_of_file
        log_group_name = jekyll-mexpro-nginx

commands:
    00-cmd:
        command: rm -f /etc/awslogs/config/*.bak
    01-cmd:
        command: chkconfig --level 35 awslogs on
        test: "[ -s /usr/sbin/awslogsd ]"

container_commands:
    00-cmd:
        command: service awslogs restart
        test: "[ -s /etc/awslogs/config/nginx-log.conf ]"