@charset "utf-8";
//= require_self

// Styles Only for home page
h2, h3 {
	font-size: 25px !important;
	text-transform: initial !important;
}
// Home Page Photo, Text, Quote Box
.feature {
	background-repeat: no-repeat;
	background-position: right center;
	//background-image: url('../images/home-page-1.jpg');
	background-image: url('../images/about/buying-online1.jpg');
	min-height: 400px;
	position: relative;
	background-size: cover;
	.overlay {
		background-color: white;
		  top: 0;
		  left: 0;
		  //width: 100%;
		  //height: 100%;
		  position: relative;
		  z-index: 1;
		  opacity: 0.85;
	}
	h1, h2 {
		color: #3c4b52 !important;
	}
	h1, h2 {
		font-size: 1.8em;
		line-height: 1;
	}
	h1 {
		margin-bottom: 0 !important;
	}
	p {
		font-size: 1em !important;
		color: #798d96 !important;
		&:last-child {
			padding-bottom: 20px;
		}
	}
}

//Feature Icons
.featureicons {
	z-index: 1000;
	position:relative;
	ul {
		margin-left: -40px;
	}
	li {
		list-style: none;
		text-align: center;
		line-height: 1.2;
		top: -30px;
		width: 14%;
		float:left;
		position: relative;
		padding: 0 10px;
		a span {
			background-image: url('../images/featureiconsall.png');
			background-repeat: no-repeat;
			width: 80px;
			height: 80px;
			display: block;
			margin: 0 auto 10px;
			&.auto {
				background-position: 0 0;
			}
			&.home {
				background-position: 0 -160px;
			}
			&.boat {
				background-position: 0 -320px;
			}
			&.travel {
				background-position: 0 -480px;
			}
			&.usatourist {
				background-position: 0 -640px;
			}
			&.mexresauto {
				background-position: 0 -800px;
			}
			&.evac {
				background-position: 0 -960px;
			}
		}
		a:hover span {
			&.auto {
				background-position: 0 -80px;
			}
			&.home {
				background-position: 0 -240px;
			}
			&.boat {
				background-position: 0 -400px;
			}
			&.travel {
				background-position: 0 -560px;
			}
			&.usatourist {
				background-position: 0 -720px;
			}
			&.mexresauto {
				background-position: 0 -880px;
			}
			&.evac {
				background-position: 0 -1039px;
			}
		}
		a {
			color: #798d96;
			&:hover {
				color: #0c93d2;
			}
		}
	}
}

// Mexico insurance required, online policy easy section
.doublepane {
	&.story {
		.col-sm-6:first-child {
			padding: 20px 20px 30px;
			min-height: 500px;
			max-width: 750px;
		}
		.col-sm-6:last-child {
			padding: 0;
			background-image: none;
			.video {
				background-image: url('../images/play-button.png'),url('../images/about/jim-andrea.jpg');
				background-position: 50% 50%, top center;
				min-height: 500px;
				background-size: 80px 80px, cover;
				background-repeat: no-repeat;
				display: block;
				
			}
		}
	}
}

// Our People
.people.doublepane {
	.col-md-6, .col-sm-5 {
		&:first-child {
			padding: 0;
			background-image: none;
			.video {
				background-image: url('../images/play-button.png'),url('../images/company-photo750.jpg');
				background-position: 50% 50%, top center;
				max-width: 750px;
				min-height: 300px;
				background-size: 80px 80px, cover;
				background-repeat: no-repeat;
				display: block;
			}
		}
	}
	.col-md-6, .col-sm-7 {
		&:last-child,  {
			background-color: #0c93d2;
		}
	}
	.home-sp & {
		.col-sm-6:last-child {
			background-position: 50% 90%;
			padding-top: 1%;
		}
	}
}

// Our Technology, Personal Info is safe
.techsafe {
	position:relative;
	margin: 30px auto;
	span {
		background-image: url('../images/homeown/mxho-coverage-sprites.png');
		background-repeat: no-repeat;
		display: block;
		margin: 0 auto 10px;
		height: 67px;
		width: 67px;
		vertical-align: bottom;
		&.theft {
			background-position: 0 0;
			width: 73px;
		}
		&.technology {
			background-image: url('../images/about/tech.png');
		}
	}
}

//NFP
.nfp {
	background-image: url(../images/auto/coverage-slice.png);
    background-repeat: repeat-x;
    background-color: #fefefe;
    margin-top: 35px;
    span.nfplogo {
		background-image: url('../images/about/nfp-logo.png');
		background-repeat: no-repeat;
		display: block;
		margin: 0 auto 10px;
		height: 67px;
		width: 67px;
	}
}

// Home Page Photo, Text, Quote Box
.why {
	background-repeat: no-repeat;
	background-position: left top;
	background-image: url('../images/about/car-accident.jpg');
	min-height: 250px;
	position: relative;
	background-size: cover;
	color: white;
	.overlay {
		background-color: #0c93d2;
		top: 0;
		left: 0;
		position: relative;
		z-index: 1;
		opacity: 0.75;
	}
	.col-sm-12 {
		padding: 30px;
	}
}

// Testimonials
.testimonials {
	background-image: url(../images/auto/coverage-slice.png) !important;
    background-repeat: repeat-x;
    background-color: #fefefe !important;
    margin-top: 35px;
    color: #798d96 !important;
    h2 {
    	color: #3c4b52 !important;
    }
    h3 {
    	margin-top: 10px;
    }
    .CustName, .CustLoc {
    	color: #0c93d2;
    }
}

//Video Modal
#company-video {
	.modal-header {
		border: none;
	}
	.modal-footer {
		padding: 0;
		border: none; 
	}
}

/* Device Based css */

/* Large Screen size - Desktop : 1200px wide and larger */
@media (min-width:1200px) {
	
} // End Large Screen

/* Medium Screen Size - Tablet horizontal : 992px - 1199px wide */
@media (min-width:992px) and (max-width:1199px) {
	.feature {
		background-size: cover;
	}
	.doublepane {
		.col-sm-6 {
			min-height: 325px;
		}
		&.story {
			.col-sm-6 {
				min-height: 450px;
			}
		}
	}
	.people.doublepane {
		.col-sm-7, .col-sm-5:first-child .video {
			min-height: 350px;
		}
		.home-sp & {
			.col-sm-6:last-child {
				background-position: 50% 95%;
				padding-top: 1%;
			}
		}
	}
}  //end Medium Screen

@media (max-width: 991px) {
//CSS Specific to navbar break point
	.feature { // covers top nav
		//margin-top: 30px; replaced with content in bottom css
	}
}

/* Small  Screen Size - Tablet Vertical : 768px - 991px wide*/
@media (min-width:768px) and (max-width:991px) {
	.feature {
		background-size: cover;
		background-position: right bottom;
		h1 {
			margin-top: 45px;
			font-size: 1.6em;
		}
	}
	.featureicons {
		margin-bottom: 0;
	}
	.doublepane {
		&.story {
			.col-sm-6 {
				padding: 0 20px;
			}
		}
		.home-sp & .col-sm-6 {
			min-height: 375px;
		}
		&.people {
			.col-sm-5:first-child .video {
				min-height: 350px;
			}
			.col-sm-7:last-child {
				min-height: 350px;
				padding: 20px;
				h2 {
					font-size: 1.4em;
					padding-top: 0;
				}
				p {
					font-size: 0.9em;
				}
			}
		}
	}
} // End Small Screen

/* Xtra-Small Screen Size - Phone : 480px - 767px */
@media (max-width:767px) {
	.feature {
		//background-image: url('../images/home-page-mobile-1.jpg');
		//background-image: url('../images/about/about-bg.jpg');
		background-image: url('../images/about/buying-online-mobile.jpg');
		background-repeat: no-repeat;
		background-position: center center;
		background-size: cover;
		h1 {
			text-align: center;
			margin-top: 1.6em;
		}
		.dropdown {
			text-align: center;
		}
	}
	.featureicons {
		margin-bottom: 15px;
		li {
			top: 15px;
			width: 50%;
			padding-bottom: 20px;
			&:nth-child(even) {
				padding-left: 0;
			}
			&:nth-child(odd) {
				padding-right: 0;
			}
			&:last-child {
				width: 100%;
				padding-left: 10px;
				padding-right: 10px;
			}
		}
	}

	.doublepane {
		&.story {
			.col-sm-6 {
				border-bottom: 1px solid #e8e8e8;
				padding-top: 0;
			}
		}
		&.people {
			.col-sm-7 {
				min-height: 425px;
				padding: 0 20px;
			}
			.col-sm-5:first-child .video {
				min-height: 500px;
				padding: 0 20px 20px;
				h2 {
					//font-size: 1.5em;
					//margin-bottom: 15px;
				}
				p {
					//font-size: 1em;
				}
			}
		}
	}
	.partners li {
		width: 100%;
		display: block;
	}
	.home-sp {
		.feature {
			background-position: 55% 98%, right bottom;
		}
	}
} //End Xtra-Small Screen