@charset "utf-8";
//= require vendor/bootstrap
//= require vendor/bootstrap-theme
// Remove the "do_not_" from the following line for font-awesome:
//= do_not_require vendor/font-awesome
//= require main
//= require_self

// Put styles here!

#content {
	margin-top: 62px;
}

//Footer 
footer {
 	background-color: #f4f8fa;
 	font-size: 0.75em;
 	color: #0c93d2;
 	.bot-menu {
 		> div {
    		display: inline-block;
    		position: relative;
    		&:last-child { // for the contact us section i.e. buy, call, visit
    			padding-right: 0;
    			ul {
    				padding-top: 20px;
    			}
    			li {
    				height: 40px;
    				padding-bottom: 10px;
    				a {
	    				span {
		    				background: url(/images/CTA-footer.png) no-repeat left top;
		    				margin: 0;
		    				display: block;
		    				margin-right: 10px;
		    				float:left;
		    				&:first-child.buyonline {
								background-position: 0 0;
								height: 30px;
								width: 35px;
		    				}

		    				&:first-child.callus {
		    					background-position: 0 -60px;
								height: 33px;
								width: 35px;
		    				}
		    				&:nth-child(2) {
		    					background-image: none;
		    				}
		    				&:first-child.visitus {
		    					background-position: 0 -126px;
								height: 21px;
								width: 36px;
								margin-top: 8px;
		    				}
	    				}
	    				p {
	    					color: #3c4b52;
	    					margin-top: 10px;
	    				}
	    			}
	    			a:hover {
	    				span {
	    					&:first-child.buyonline {
	    						background-position: 0 -30px;
	    					}
	    					&:first-child.callus {
	    						background-position: 0 -93px;
	    					}
		    				&:first-child.visitus {
		    					background-position: 0 -148px;
		    				}
		    			}
		    			h5, p {
		    				color: #0c93d2;
		    			}
	    			}
    				h5, p {
    					float: left;
    					font-size: 1.0em; //had to reduce size to fit 'visit..
    					margin: 0;
    					margin-top: 10px;
    				}
    				&:first-child {
    					h5 {
    						margin-top: 8px;
    					}
    				}
    				&:last-child {
    					span {
    						margin-top: 8px;
    					}
    				}
    			}
    		}
 		}
 		div + div {
		    padding-left: 20px;
		}
		div + div::before {
		    content: '';
		    border-left: 2px solid #eaf2f6;
		    position: absolute;
		    height: 80%;
		    left: 0;
		    top: 10%;
		}
 		li.title {
 			color: #798d96;
			font-weight: 400;
			text-transform: uppercase;
 		}
 	}
 	> div {
 		ul {
 			padding-left: 0;
 		}
 	}
 	li {
 		list-style: none;
 		&.title {
 			text-transform: uppercase;
 		}
 	}
 	.foot {
		font-size: 0.9em;
		color: #798d96;
		padding-top: 15px;
		padding-bottom: 15px;
		border-top: 2px solid #eaf2f6;
		div {
			padding-left: 0;
			padding-right: 0
		}
 		li {
 			display: inline;
 			white-space: nowrap;
 		}
	 	.nap {
			li:after {
				content: " \2022 ";
			}
			li.nobullet:after {
				content:none;
			}
		}
		.tollsoc {
			padding: 0;
			li {
				font-size: 1.2em;
				font-weight: normal;
				float: left;
				span {
					font-size: 1.1em;
				}
			}
			li:first-child a {
				color: #0c93d2;
				font-weight: 600;
			}
			li:nth-child(2) {
				margin-left: 10px;
			}
			li a.social {
				background-image: url(/images/social.png);
	    		background-repeat: no-repeat;
	    		margin: 0;
	    		display: block;
	    		margin-right: 5px;
	    		height: 30px;
				width: 30px;
	    		&.fb {
	    			background-position: 0 0;
	    		}
	    		&.twit {
	    			background-position: 0 -60px;
	    		}
	    		&.gplus {
	    			background-position: 0 -120px;
	    		}
			}
			a:hover.social {
				&.fb {
	    			background-position: 0 -30px;
	    		}
	    		&.twit {
	    			background-position: 0 -90px;
	    		}
	    		&.gplus {
	    			background-position: 0 -150px;
	    		}
			}
		}
	}
}

@media (max-width: 991px) {
//CSS Specific to navbar break point
#content {
	margin-top: 30px;
}

footer {
	.bot-menu {
		.bot-menu {
			> div {
				&:last-child { // for the contact us section i.e. buy, call, visit
					ul {
						padding-top: 15px;
					}
				}
			}
		}
		div + div {
		   padding-left: 15px;
		}
		div {
			border-bottom: 2px solid #eaf2f6;
			ul {
				padding-left: 0;
			}
		}
		div + div::before, div:last-child {
		    border: none;
		}
	}
	.foot {
		div {
			text-align: center;
		}
		.tollsoc {
			ul {
				display: inline-table;
			}
		}
	}
}
} // End breakpoint 991px