@charset "utf-8";
//= require vendor/bootstrap
//= require vendor/bootstrap-theme
// Remove the "do_not_" from the following line for font-awesome:
//= do_not_require vendor/font-awesome
//= require main
//= require_self

// Put styles here!

//Footer 
footer {
 	background-color: #f4f8fa;
 	font-size: 0.75em;
 	color: #0c93d2;
 	.bot-menu {
 		> div {
    		display: inline-block;
    		position: relative;
    		&:last-child { // for the contact us section i.e. buy, call, visit
    			padding-right: 0;
    			ul {
    				padding-top: 15px;
    			}
    			li {
    				height: 40px;
    				padding-bottom: 10px;
    				span {
	    				background-image: url(/images/CTA-footer.png);
	    				background-repeat: no-repeat;
	    				margin: 0;
	    				display: block;
	    				margin-right: 5px;
	    				float:left;
	    				&.buyonline {
							background-position: 0 0;
							height: 30px;
							width: 35px;
	    				}
	    				&.callus {
	    					background-position: 0 -62px;
							height: 35px;
							width: 34px;
	    				}
	    				&.visitus {
	    					background-position: 0 -131px;
							height: 22px;
							width: 37px;
	    				}
	    			}
    				h5 {
    					float: left;
    					font-size: 1.0em; //had to reduce size to fit 'visit..
    					margin: 0;
    					margin-top: 10px;
    				}
    				&:first-child {
    					h5 {
    						margin-top: 8px;
    					}
    				}
    				&:last-child {
    					span {
    						margin-top: 8px;
    					}
    				}
    			}
    		}
 		}
 		div + div {
		    padding-left: 20px;
		}

		div + div::before {
		    content: '';
		    border-left: 2px solid #eaf2f6;
		    position: absolute;
		    height: 70%;
		    left: 0;
		    top: 15%;
		}
 		li.title {
 			color: #798d96;
			font-weight: 400;
			text-transform: uppercase;
 		}
 	}
 	> div {
 		ul {
 			padding-left: 0;
 			&.col-sm-12 {
 				padding-left: 0;
 			}
 		}
 		&.bot-tips, &.bot-about, &.bot-contact {
 			padding-left: -40px;
 		}
 	}
 	li {
 		list-style: none;
 		&.title {
 			text-transform: uppercase;
 		}
 	}
 	.foot {
		font-size: 0.9em;
		color: #798d96;
		padding-top: 15px;
		border-top: 2px solid #eaf2f6;
 		li {
 			display: inline;
 			white-space: nowrap;
 		}
	 	.nap {
			li:after {
				content: " \2022 ";
			}
			li.nobullet:after {
				content:none;
			}
		}
		.tollsoc {
			li {
				font-size: 1.2em;
				font-weight: normal;
			}
			li:first-child a {
				color: #0c93d2;
				font-weight: 600;
			}
		}
	}
}