@charset "utf-8";
//= require_self

// Styles Only for home page

// Claims Page Photo, Text, Quote Box
.feature {
	background-repeat: no-repeat;
	background-position: right bottom;
	background-image: url('../images/claims/claims-feature.png');
	min-height: 575px;
	position: relative;
	background-size: cover;
	margin-bottom: 30px;
	h1 {
		color: white;
		font-size: 1.8em;
		line-height: 1;
	}

}

// Quote box dropdown within feature image 
.quotedropdown {
	.dropdown-menu {
		background-color: white;
		border-radius: 0;
		padding: 0;
		margin: 0;
		border: 0;
		font-size: 0.9em;
		z-index: 1100; //puts above feature icons
		> li {
			background-color: white;
			color: #798d96;
			width: 100%;
			&.col-sm-6 {
				padding-left: 0;
			}
			.left {
				width: 153px;
				float:left;
			}
			.right {
				text-align: center;
				padding-top: 10px;
				height: 60px;
			}
			&:nth-child(3), &:nth-child(4) {
				.right {
					padding-top: 20px;
				}
			}
			span {
				background-image: url('../images/claims/claimsfeatureicons.png');
				background-repeat: no-repeat;
				width: 153px;
				height: 60px;
				display: block;
				margin:0;
				&.aba {
					background-position: 0 0;
				}
				&.elag {
					background-position: 0 -60px;
				}
				&.gnp {
					background-position: 0 -120px;
				}
				&.mexvisit {
					background-position: 0 -180px;
				}
			}
			&:nth-child(odd) {
				background-color: #f3f8fa;
			}
		}
	}
}

.steps {
	.col-sm-12 {
		text-align: center;
		margin: 0 auto;
		font-size: 0.9em;

	}
	.col-sm-4 {
		padding-left: 30px;
		padding-right: 30px;
	}
	h2 {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	span {
		&.step {
			background-image: url('../images/orange-circle-icon.png');
			background-repeat: no-repeat;
			width: 80px;
			height: 80px;
			display: block;
			margin: 0 auto;
		}
		p {
			position: relative;
			top: 20px;
			font-size: 2em;
			font-weight: bold;
			color: white;
		}

	}
}

// Mexico insurance required, online policy easy section
.doublepane {
	color: white;
	max-width: 1500px;
	h2 {
		font-size: 15px;
		text-transform: uppercase;
		font-weight: 600;
		padding-top: 28px;
		margin-top: 0;
	}
	h3 {
		color: white;
		font-size: 40px;
		font-weight: normal;

	}
	.col-sm-6 {
		background-repeat: no-repeat;
		background-position: center left;
		max-width: 750px;
		min-height: 275px;
		background-size: cover;
		padding-left: 30px;
		padding-right: 30px;
	}
	.col-sm-6:first-child {
		background-image: url('../images/ck-drivers-license.png');
	}
	.col-sm-6:last-child {
		background-image: url('../images/using-mouse.png');
	}
}

.partners {
	li {
		list-style: none;
		width: 100%;
		&.title div {
			background-color: #d9e3e7;
		}
		div {
			border-right: 1px solid white;
			border-bottom: 1px solid white;
			float:left;
			&.company {
				width: 153px;
			}
			&.phone1 {
				width: 275px;
			}
			&.phone2 {
				width: 300px;
			}
		}
	}
	span {
		background-image: url('../images/claims/claimsfeatureicons.png');
		background-repeat: no-repeat;
		width: 153px;
		height: 60px;
		display: block;
		margin:0;
		&.aba {
			background-position: 0 0;
		}
		&.elag {
			background-position: 0 -60px;
		}
		&.gnp {
			background-position: 0 -120px;
		}
		&.mexvisit {
			background-position: 0 -180px;
		}
	}
}

/* Device Based css */

/* Large Screen size - Desktop : 1200px wide and larger */
@media (min-width:1200px) {

} // End Large Screen

/* Medium Screen Size - Tablet horizontal : 992px - 1199px wide */
@media (min-width:992px) and (max-width:1199px) {
	.feature {
		min-height: 450px;
	}
	.doublepane {
		.col-sm-6 {
			min-height: 325px;
		}
	}
	.trusted {
		.col-sm-6:first-child, .col-sm-6:last-child {
			.video {
				min-height: 275px;
			}
		}
		.col-sm-6:last-child {
			min-height: 275px;
			padding-top: 2%;
		}
	}
}  //end Medium Screen

@media (max-width: 991px) {
//CSS Specific to navbar break point
	
}

/* Small  Screen Size - Tablet Vertical : 768px - 991px wide*/
@media (min-width:768px) and (max-width:991px) {
	.feature {
		min-height: 420px;
		h1 {
			margin-top: 45px;
			font-size: 1.6em;
		}
	}
	.quotedropdown {
		ul.dropdown-menu {
			> li {
				&.col-sm-6 {
					padding-right: 8px;
				}
			}
		}
	}
	.doublepane {
		.col-sm-6 {
			min-height: 350px;
		}
	}
	.trusted {
		.col-sm-6:first-child, .col-sm-6:last-child {
			.video {
				min-height: 200px;
			}
		}
		.col-sm-6:last-child {
			min-height: 200px;
			padding: 0 2% 0;
			h2 {
				font-size: 1.4em;
			}
			p {
				font-size: 0.9em;
			}
			background-position: 50% 90%;
		}
	}
} // End Small Screen

/* Xtra-Small Screen Size - Phone : 480px - 767px */
@media (max-width:767px) {
	.feature {
		background-image: url('../images/claims/claims-feature-mobile.png');
		background-repeat: no-repeat;
		min-height: 450px;
		h1 {
			text-align: center;
			margin-top: 1.2em;
		}
		.dropdown {
			text-align: center;
		}
	}
	.btn-orange.btn {
		width: 100%;
	}
	.quotedropdown {
		ul.dropdown-menu {
			margin: auto;
			float: none;
			position: relative;
			font-size: 0.8em;
			> li {
				&.col-sm-6 {
					padding-right: 8px;
				}
				.right {
					padding-top: 23px;
				}
				&:last-child {
					> a, > a:hover, > a:visited, > a:active {
					padding-bottom: 8px;
					}
				}
			}
		}
	}
	.doublepane {
		.col-sm-6{
			min-height: 390px;
			&:last-child {
				top: -30px;
    			min-height: 350px;
			}
		}
	}
	.prodcategories.container-fluid {
		margin: 0 auto;
	}
	.trusted {
		.col-sm-6:last-child {
			min-height: 260px;
			h2 {
				font-size: 1.5em;
				margin-bottom: 15px;
			}
			p {
				font-size: 1em;
			}
			background-position: 50% bottom;
		}
	}
} //End Xtra-Small Screen