@charset "utf-8";
//= require_self

// Styles Only for home page

// Claims Page Photo, Text, Quote Box
.feature {
	background-repeat: no-repeat;
	background-position: right bottom;
	background-image: url('../images/claims/claims-feature.png');
	min-height: 575px;
	position: relative;
	background-size: cover;
	h1 {
		color: white;
		font-size: 1.8em;
		line-height: 1;
	}
}

// Quote button within feature image
.btn-quote.btn {
	border-radius: 2px;
	border: 1px solid white;
	margin-bottom: 20px;
}

// Quote box dropdown within feature image 
.quotedropdown {
	.dropdown-menu {
		background-color: white;
		border-radius: 0;
		padding: 0;
		margin: 0;
		border: 0;
		font-size: 0.9em;
		z-index: 1100; //puts above feature icons
		> li {
			background-color: white;
			color: #798d96;
			width: 100%;
			&.col-sm-6 {
				padding-left: 0;
			}
			.left {
				width: 153px;
				float:left;
			}
			.right {
				text-align: center;
				padding-top: 10px;
				height: 60px;
			}
			&:nth-child(3), &:nth-child(4) {
				.right {
					padding-top: 20px;
				}
			}
			span {
				background-image: url('../images/claims/claimsfeatureicons.png');
				background-repeat: no-repeat;
				width: 153px;
				height: 60px;
				display: block;
				margin:0;
				&.aba {
					background-position: 0 0;
				}
				&.elag {
					background-position: 0 -60px;
				}
				&.gnp {
					background-position: 0 -120px;
				}
				&.mexvisit {
					background-position: 0 -180px;
				}
			}
			&:nth-child(odd) {
				background-color: #f3f8fa;
			}
		}
	}
}

.steps {
	.col-sm-12 {
		text-align: center;
		margin: 0 auto;
		font-size: 0.9em;

	}
	.col-sm-4 {
		padding-left: 30px;
		padding-right: 30px;
	}
	h2 {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	span {
		background-image: url('../images/claims/steps.png');
		background-repeat: no-repeat;
		width: 80px;
		height: 80px;
		display: block;
		margin: 0 auto;
		color: white;
		p {
			position: relative;
			top: 15px;
			font-size: 2em;
			font-weight: bold;
		}
		&.step1 {
			background-position: 0 0;
		}
		&.step2 {
			background-position: 0 -80px;
		}
		&.step3 {
			background-position: 0 -160px;
		}

	}
}

// Mexico insurance required, online policy easy section
.doublepane {
	color: white;
	max-width: 1500px;
	h2 {
		font-size: 15px;
		text-transform: uppercase;
		font-weight: 600;
		padding-top: 28px;
		margin-top: 0;
	}
	h3 {
		color: white;
		font-size: 40px;
		font-weight: normal;

	}
	.col-sm-6 {
		background-repeat: no-repeat;
		background-position: center left;
		max-width: 750px;
		min-height: 275px;
		background-size: cover;
		padding-left: 30px;
		padding-right: 30px;
	}
	.col-sm-6:first-child {
		background-image: url('../images/ck-drivers-license.png');
	}
	.col-sm-6:last-child {
		background-image: url('../images/using-mouse.png');
	}
}

// Product Categories
.prodcategories {
	position:relative;
	margin: 20px auto;
	ul {
		margin-left: -40px;
	}
	li,.carousel-inner {
		list-style: none;
		a span {
			background-image: url('../images/categoryiconsall.png');
			background-repeat: no-repeat;
			display: block;
			margin: 0 auto 10px;
			height: 72px;
			vertical-align: bottom;
			&.autocat {
				background-position: 0 0;
				width: 52px;
			}
			&.homecat {
				background-position: 0 -144px;
				width: 75px;
			}
			&.boatcat {
				background-position: 0 -288px;
				width: 87px;
			}
			&.travelcat {
				background-position: 0 -432px;
				width: 53px;
			}
			&.usatouristcat {
				background-position: 0 -576px;
				width: 52px;
			}
			&.mexresautocat {
				background-position: 0 -722px;
				width: 86px;
				height: 71px;
			}
		}
		a:hover span {
			&.autocat {
				background-position: 0 -72px;
			}
			&.homecat {
				background-position: 0 -216px;
			}
			&.boatcat {
				background-position: 0 -361px;
			}
			&.travelcat {
				background-position: 0 -503px;
			}
			&.usatouristcat {
				background-position: 0 -649px;
			}
			&.mexresautocat {
				background-position: 0 -793px;
			}
		}
		a:hover h5 {
			color: #0c93d2;
		}
	}
	#CatCarousel {
		.carousel-control.right, .carousel-control.left {
			margin-top: 10%;
		}
	}
}

.partners {

}

/* Device Based css */

/* Large Screen size - Desktop : 1200px wide and larger */
@media (min-width:1200px) {

} // End Large Screen

/* Medium Screen Size - Tablet horizontal : 992px - 1199px wide */
@media (min-width:992px) and (max-width:1199px) {
	.feature {
		min-height: 450px;
		background-size: 90px 170px, cover;
	}
	.doublepane {
		.col-sm-6 {
			min-height: 325px;
		}
	}
	.trusted {
		.col-sm-6:first-child, .col-sm-6:last-child {
			.video {
				min-height: 275px;
			}
		}
		.col-sm-6:last-child {
			min-height: 275px;
			padding-top: 2%;
		}
	}
}  //end Medium Screen

@media (max-width: 991px) {
//CSS Specific to navbar break point
	.feature { // covers top nav
		//margin-top: 30px; replaced with content in bottom css
	}
}

/* Small  Screen Size - Tablet Vertical : 768px - 991px wide*/
@media (min-width:768px) and (max-width:991px) {
	.feature {
		min-height: 420px;
		background-size: 85px 160px, cover;
		background-position: 84% 88%, right bottom;
		h1 {
			margin-top: 45px;
			font-size: 1.6em;
		}
	}
	.featureicons {
		margin-bottom: 0;
	}
	.doublepane {
		.col-sm-6 {
			min-height: 350px;
		}
	}
	.trusted {
		.col-sm-6:first-child, .col-sm-6:last-child {
			.video {
				min-height: 200px;
			}
		}
		.col-sm-6:last-child {
			min-height: 200px;
			padding: 0 2% 0;
			h2 {
				font-size: 1.4em;
			}
			p {
				font-size: 0.9em;
			}
			background-position: 50% 90%;
		}
	}
} // End Small Screen

/* Xtra-Small Screen Size - Phone : 480px - 767px */
@media (max-width:767px) {
	.feature {
		background-image: url('../images/accredited-horiz.png'), url('../images/home-page-mobile-1.png');
		background-repeat: no-repeat;
		background-position: 50% 95%, right bottom;
		background-size: 262px 73px, cover;
		min-height: 570px;
		h1 {
			text-align: center;
			margin-top: 1.2em;
		}
		.dropdown {
			text-align: center;
		}
	}
	.featureicons {
		margin-bottom: 15px;
		li {
			top: 15px;
			width: 50%;
			padding-bottom: 15px;
			&.col-xs-6:nth-child(even) {
				padding-left: 0;
			}
			&.col-xs-6:nth-child(odd) {
				padding-right: 0;
			}
		}
	}
	.quotedropdown {
		ul.dropdown-menu {
			margin: auto;
			float: none;
			position: relative;
			> li:last-child {
				> a, > a:hover, > a:visited, > a:active {
					padding-bottom: 8px;
				}
			}
		}
	}
	.doublepane {
		.col-sm-6{
			min-height: 390px;
			&:last-child {
				top: -30px;
    			min-height: 350px;
			}
		}
	}
	.prodcategories.container-fluid {
		margin: 0 auto;
	}
	.trusted {
		.col-sm-6:last-child {
			min-height: 260px;
			h2 {
				font-size: 1.5em;
				margin-bottom: 15px;
			}
			p {
				font-size: 1em;
			}
			background-position: 50% bottom;
		}
	}
} //End Xtra-Small Screen