@charset "utf-8";
//= require_self

// Styles Only for Coverage pages

//Coverage index page
.covhome {
	h2 {
		color: #666 !important;
		margin-top: 30px !important;
		font-size: 1.3em !important;
	}
}

//Extended coverage pages
span {
	&.aba, &.elag, &.gnp {
	    background-image: url(../images/partners.png);
	    background-repeat: no-repeat;
	    display: inline-block;
	    margin: 0 auto 10px;
	    width: 223px;
	    height: 110px;
	    float: right;
    }
    &.aba {
    	background-position: 0 0;
    }
    &.elag {
		background-position: 0 -220px;
	}
	&.gnp {
		background-position: 0 -110px;
	}
}

//Styles for coverage comparisons pages
table {
	text-align: center;
	td {
		padding: 10px !important;
	}
}
