@charset "utf-8";
//= require_self

// Styles Only for customer services pages

.custsvcbtn {
	ul {
	    -webkit-padding-start: inherit;
	    -moz-padding-start: inherit;
	}
	li {
		list-style: none;
	}
	a.btn.btn-primary {
	    font-weight: normal;
	    font-size: 1em;
	    width: 100%;
	    margin: 5px;
	}
}

.moreinfo {
    li {
    	list-style: none;
    }
}

/* Xtra-Small Screen Size - Phone : 480px - 767px */
@media (max-width:767px) {
.custsvcbtn {
	ul {
	    -webkit-padding-start: 0;
	    -moz-padding-start: 0;
	}
}
} // end Xtra-Small