@charset "utf-8";
//= require_self

// Styles Only for Customer Service Pages


.custsvc {
// Feature
	.feature {
		background-repeat: no-repeat;
		background-position: center top;
		background-image: url('../images/customer/call-center-feature.jpg');
		min-height: 500px;
		position: relative;
		background-size: cover;
		//margin-bottom: 30px;
		h1 {
			color: white;
			font-size: 1.7em;
			font-weight: normal;
		}
		p {
			margin-bottom: 0;
			font-size: 1em;
		}
		.st-default-search-input, .st-ui-search-input {
			width: 270px;
		}
	} //end Feature
}
.custsvc {
	//Exclusions (background fade)
	.exclusions {
		margin-bottom: 15px;
		h2 {
			font-size: initial;
			text-transform: uppercase;
		}
	}
}

.custsvc {
//Doublepane
	.doublepane {
		h3 {
			font-size: 15px;
			text-transform: uppercase;
		}
		.col-sm-12 {
			margin-bottom: 20px;
			&:first-child {
				margin-bottom: 0;
			}
			&:last-child {
				border-top: 1px dotted white;
			}
		}
	}
}

.steps {
	.grayline {
		margin-bottom: 30px;
	}
}

.orangebg {
	.col-sm-12 {
		padding-top: 20px;
		padding-bottom: 20px;
	}
	h2 {
		font-size: 15px;
		text-transform: uppercase;
	}
}

/* Device Based css */

/* Large Screen size - Desktop : 1200px wide and larger */
@media (min-width:1200px) {

} // End Large Screen

/* Medium Screen Size - Tablet horizontal : 992px - 1199px wide */
@media (min-width:992px) and (max-width:1199px) {

}  //end Medium Screen

@media (max-width: 991px) {
//CSS Specific to navbar break point
	.feature {
		min-height: 400px;
	}
}

/* Small  Screen Size - Tablet Vertical : 768px - 991px wide*/
@media (min-width:768px) and (max-width:991px) {
	.feature {
		h1 {
			margin-top: 45px;
			font-size: 1.6em;
		}
	}
} // End Small Screen

/* Xtra-Small Screen Size - Phone : 480px - 767px */
@media (max-width:767px) {
	.feature {
		min-height: 450px;
		.custsvc & .st-default-search-input, .custsvc & .st-ui-search-input {
		    width: 200px;
		}
	}
	.exclusions {
		p{
			text-align: center;
		}
	}
} //End Xtra-Small Screen