@charset "utf-8";
//= require_self

// Styles Only for home page

// Home Page Photo, Text, Quote Box
.feature {
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: bottom left;
	background-image: url('/images/home-page-1.png') center center no-repeat; // fallback
	background-image: linear-gradient(to bottom, rgba(30,40,60,0.8) 0%,rgba(0,0,0,0.1) 55%), url(/images/home-page-1.png);
	min-height: 500px;
	position: relative;
	top: 62px;
	h1 {
		color: white;
		font-size: 1.8em;
		line-height: 1;
	}
}

.btn-quotehome.btn {
	background-color: #d47d3a;
	color: white;
	width: 300px;
	border-radius: 0;
	h2 {
		font-size: 25px;
		font-weight: 600;
	}
}
.quotedropdown {
	.dropdown-menu {
		padding: 0;
		width: 300px;
		border-radius: 0;
		margin: 0;
		border: 0;
		> li >a, > li > a:hover, > li > a:visited, > li > a:active {
			background-color: #d47d3a;
			color: white;
			font-size: 18px;
			font-weight: 600;
			border-bottom: 1px solid red;
		}
	}
}

// Mexico insurance required, online policy easy section
.doublepane {
	
}

/* Device Based css */

/* Large Screen size - Desktop : 1200px wide and larger */
@media (min-width:1200px) {
body {

}

} // End Large Screen

/* Medium Screen Size - Tablet horizontal : 992px - 1199px wide */
@media (min-width:992px) and (max-width:1199px) {
body {
	background-size: 100% 450px;
}
.feature {
	min-height: 425px;
}
}  //end Medium Screen

/* Small  Screen Size - Tablet Vertical : 768px - 991px wide*/
@media (min-width:768px) and (max-width:991px) {
body {
	background-size: 100% 400px;
}
.feature {
	min-height: 375px;
}
} // End Small Screen

/* Xtra-Small Screen Size - Phone : 480px - 767px */
@media (max-width:767px) {
body {
	background-size: 100% 450px;
	background-color: transparent;
	background-repeat: no-repeat;
	background-position: 0 0;
	background-image: url('/images/home-page-mobile-1.png') center center no-repeat; // fallback
	background-image: linear-gradient(to bottom, rgba(30,40,60,0.8) 0%,rgba(0,0,0,0.1) 55%), url(/images/home-page-mobile-1.png);
	//max-width: 767px;
}
.feature {
	min-height: 430px;
	h1 {
		text-align: center;
	}
}
.container#content {
	//position: relative;
	//top: 400px;
}
} //End Xtra-Small Screen