@charset "utf-8";
//= require_self

// Styles Only for homeowners page

//h2 headers that are darkh4 color
.darkh5 {
	margin-top: 30px;
}

// Homeowners Page Photo, Text, Quote Box
.feature {
	background-repeat: no-repeat;
	background-position: right bottom;
	background-image: url('../images/homeown/homeowners-insurance.jpg');
	min-height: 575px;
	position: relative;
	background-size: cover;
	.col-sm-6:first-child {
		padding-top: 5%;
	}
	p {
		color: white;
		font-size: 1.5em;
		line-height: 1.1;
		&:last-child {
			font-size: 0.9em;
		}
	}
	.singlefam & {
		background-image: url('../images/homeown/single-family-feature.jpg');
	}
	.condo & {
		background-image: url('../images/homeown/condo-feature.jpg');
		background-position: left top;
	}
	.singlefam &, .condo & {
		min-height: 500px;
	}
	.coverage & {
		background-position: top center;
		min-height: 400px;
		padding-top: 5%;
		h1 {
			color: white;
			margin-top: 10px;
		}
		p {
			font-size: 1.1em;
			line-height: 1.3;
		}
	}
	.theft & {
		background-image: url('../images/homeown/coverage/theft-feature.jpg');
		background-position: bottom center;
	}
	.catastrophic & {
		background-image: url('../images/homeown/coverage/hurricane-feature.jpg');
	}
	.adjustable & {
		background-image: url('../images/homeown/coverage/adjustable-feature.jpg');
	}
	.replace & {
		background-image: url('../images/homeown/coverage/replacement-feature.jpg');
		background-position: right center;
	}
	.liabcov & {
		background-image: url('../images/homeown/coverage/liability-feature.jpg');
		background-position: bottom right;
	}
	.extraord & {
		background-image: url('../images/homeown/coverage/extraordinary-feature.jpg');
		background-position: center center;
		min-height: 500px;
	}
	.personalprop & {
		background-image: url('../images/homeown/coverage/personal-property-feature.jpg');
		background-position: center center;
	}
	.glassbreak & {
		background-image: url('../images/homeown/coverage/glass-feature.jpg');
		background-position: top right;
	}
	.debris & {
		background-image: url('../images/homeown/coverage/debris-feature.jpg');
		background-position: center center;
	}
}

//Feature Icons
.featureicons {
	z-index: 1000;
	position:relative;
	ul {
		margin-left: -40px;
	}
	li {
		list-style: none;
		text-align: center;
		line-height: 1.2;
		top: -30px;
		float:left;
		position: relative;
		padding: 0 10px;
		a span {
			background-image: url('../images/homeown/homeown-featureicons.png');
			background-repeat: no-repeat;
			width: 80px;
			height: 80px;
			display: block;
			margin: 0 auto 10px;
			&.home {
				background-position: 0 0;
			}
			&.condo {
				background-position: 0 -160px;
			}
			&.townhome {
				//background-position: 0 -320px;
			}
		}
		a:hover span {
			&.home {
				background-position: 0 -80px;
			}
			&.condo {
				background-position: 0 -240px;
			}
			&.townhome {
				//background-position: 0 -400px;
			}
		}
		a {
			color: #798d96;
			&:hover {
				color: #0c93d2;
			}
		}
	}
}
.singlefam, .condo {
	.featureicons {
		li {
			top: 0;
			margin-top: 20px;
			margin-bottom: 20px;
		}
	}
}

// White button
.btn-white {
	margin: 10px auto 0;
}

// Partners/GNP
.partners {
	h2 {
		color: #0c93d2;
		font-size: 15px;
		margin-top: 28px;
		text-transform: uppercase;
		font-weight: 400;
	}
	span {
		background-image: url('../images/homeown/ho-gnp-logo.jpg');
		background-repeat: repeat-x;
		width: 154px;
		height: 57px;
		display: block;
		margin: 20px auto;
	}
	p {
		margin: 10px 50px 30px;
	}
}
// Double Pane
.doublepane {
	.col-sm-6 {
		background-repeat: no-repeat;
		background-position: center bottom;
		min-height: 275px;
		background-size: cover;
		padding-left: 75px;
    	padding-right: 75px;
    	h2 {
    		font-size: 20px;
    		text-transform: inherit;
    		padding-top: 40px;
    	}
    }
    .col-sm-12 {
    	h2 {
    		font-size: 26px;
    	}
    	padding-bottom: 20px;
    }
	&.eligible {
		background-color: transparent;
		.col-sm-6:first-child {
			background-image: url('../images/homeown/quote-img.jpg');
			background-position: center top; 
		}
		.col-sm-6:last-child {
			background-image: url('../images/homeown/elegibility-img.jpg');
			p.center {
				font-size: 0.8em;
			} 
		}
	}
	.condo &, .singlefam & {
		margin-top: 10px;
		margin-bottom: 10px;
		.col-sm-4 {
			padding: 20px 15px;
			h2 {
			font-size: 1.4em;
			padding-top: 10px;
			}
		}
		.col-sm-4:nth-child(2) {
			border-right: 1px dotted white;
			border-left: 1px dotted white;
			min-height: 375px;
		}
	}
	.sp.condo & {
		.col-sm-4:nth-child(2) {
			min-height: 480px;
		}
	}
	.singlefam & {
		.col-sm-4:nth-child(2) {
			//min-height: 375px;
		}
	}
	&.claims {
		h2 {
			font-size: 30px;
		}
		.flags {
			background-image: url('../images/homeown/flags.png');
			background-repeat: no-repeat;
			margin: 20px auto;
			height: 35px;
			width: 185px;
			display: block;
		}
		.col-sm-6:last-child {
			background-image: url('../images/homeown/telemarketer.jpg');
			background-position: center top; 
			min-height: 350px;
		}
		.theft & {
			.col-sm-6, .col-sm-6:last-child {
				min-height: 250px;
			}
		}
	}
	.coverage & {
		h2 {
			text-transform: initial;
		}
	}
	.liabcov &, .personalprop & {
		.col-sm-6:last-child {
			border-left: 1px dotted white;
		}
	}
	.endorse & ul {
		display: block;
		width: 40%;
		margin: 20px auto 10px;
	}
}

// Homeowners Coverage
.prodcoverage {
	position:relative;
	margin: 30px auto;
	ul {
		margin-left: -40px;
	}
	li,.carousel-inner {
		list-style: none;
		height: 175px;
		a span {
			background-image: url('../images/homeown/mxho-coverage-sprites.png');
			background-repeat: no-repeat;
			display: block;
			margin: 0 auto 10px;
			height: 67px;
			width: 67px;
			vertical-align: bottom;
			&.theft {
				background-position: 0 0;
				width: 73px;
			}
			&.deduct {
				background-position: 0 -67px;
				width: 66px;
			}
			&.catast {
				background-position: 0 -135px;
				width: 81px;
				height: 66px;
			}
			&.replace {
				background-position: 0 -200px;
				width: 70px;
			}
			&.liab {
				background-position: 0 -268px;
			}
			&.extraord {
				background-position: 0 -335px;
				height: 68px;
			}
			&.persprop {
				background-position: 0 -403px;
				width: 100px;
				height: 68px;
			}
			&.glass {
				background-position: 0 -471px;
			}
			&.debris {
				background-position: 0 -538px;
				width: 100px;
			}	
		}
		h5, p {
			text-align: center;
		}
		a:hover h5 {
			color: #0c93d2;
		}
	}
	#HomeownCatCarousel {
		.carousel-control.right, .carousel-control.left {
			margin-top: 10%;
		}
	}
}

//Partners
.homepartner {
	img {
		float: left;
		margin: 0 15px 10px 0;
	}
}

//Exclusions
.exclusions {
    //background-image: url(../images/auto/coverage-slice.png);
    //background-repeat: repeat-x;
    //background-color: #fefefe !important;
    //color: #798d96 !important;
    .col-sm-12 {
    	//padding: 20px 30px 25px;
    }
    h2 {
    	//color: #0c93d2;
    }
    &.partners {
    	margin-bottom: 0;
    	.col-sm-12 {
    		padding: 10px 0 0;
    	}
    }
    .extraord & {
    	.col-sm-12 {
    		padding-bottom: 10px;
    	}
    }
    .coinsure & ol {
    	display: block;
    	width: 70%;
    	margin: 0 auto;
    }
}

.coverage .orangebg {
	.col-sm-6:nth-child(2) {
		background-image: url(../images/homeown/coverage/complete-quote.jpg);
		background-position: top left;
		background-repeat: no-repeat;
		min-height: 300px;
	}
	h2 {
		margin-bottom: 20px;
	}
	li {
		font-size: 1.1em;
	}
	&.better {
		.col-sm-6 {
			padding: 2% 5%;
		}
	}
	.col-sm-12 {
		padding: 30px 30px 20px;
		font-size: 1.2em;
	}
	
}
.replace.coverage .orangebg .col-sm-12 {
	padding: 10px;
	font-size: 1em;
}

.covhome {
    button {
    	margin-bottom: 15px;
    }
	.prodcoverage {
		margin: 15px auto 0;
		h2 {
			margin-bottom: 35px;
		}
	}
	.featureicons {
		margin-top: 50px;
	}
}

/* Device Based css */

/* Large Screen size - Desktop : 1200px wide and larger */
@media (min-width:1200px) {
	.homeins.condo .feature .col-sm-6:first-child {
	    padding-top: 2%;
	}
	.singlefam .doublepane .col-sm-4:nth-child(2) {
		min-height: 325px;
	}
} // End Large Screen

/* Medium Screen Size - Tablet horizontal : 992px - 1199px wide */
@media (min-width:992px) and (max-width:1199px) {
	.feature {
		min-height: 450px;
		background-size: cover;
	}
	.homeins.condo .feature .col-sm-6:first-child {
	    padding-top: 2%;
	}
	.sp {
		.prodcoverage {
			margin-bottom: 0;
			li {
				height: 225px;
			}
		}
	}
	.doublepane {
		.sp.condo & {
			.col-sm-4:nth-child(2) {
				min-height: 550px;
			}
		}
		.endorse & ul {
			width: 60%;
		}
	}
	.exclusions {
		.coinsure & ol {
    		width: 80%;
    	}
	}
}  //end Medium Screen

@media (max-width: 991px) {
//CSS Specific to navbar break point

}

/* Small  Screen Size - Tablet Vertical : 768px - 991px wide*/
@media (min-width:768px) and (max-width:991px) {
	.feature {
		min-height: 400px;
		background-size: cover;
		background-position: right bottom;
		h1 {
			margin-top: 45px;
			font-size: 1.6em;
		}
	}
	.doublepane {
		.col-sm-6 {
			min-height: 300px;
			padding-left: 50px;
	    	padding-right: 50px;
	    }
		&.eligible {
			background-color: transparent !important;
		}
		.endorse & ul {
			width: 75%;
		}
	}
	.sp {
		.prodcoverage {
			margin-bottom: 0;
			li {
				height: 225px;
			}
		}
		.doublepane.claims .col-sm-6:last-child {
			min-height: 375px;
		}
		&.condo .doublepane {
			.col-sm-4:nth-child(2) {
				min-height: 660px;
			}
		}
	}
	.exclusions {
		.coinsure & ol {
    		width: 100%;
    	}
	}
	.covhome {
		h1 {
			margin-top: 50px;
		}
	}
} // End Small Screen

/* Xtra-Small Screen Size - Phone : 480px - 767px */
@media (max-width:767px) {
	.feature {
		background-image: url('../images/homeown/homeowners-insurance-mobile.jpg');
		min-height: 400px;
		text-align: center;
		.col-sm-7:first-child {
			padding-top: 11%;
		}
		p {
			font-size: 1.7em;
			padding-bottom: 20px;
		}
		.coverage & {
		    padding-top: 10%;
		}
	}
	.featureicons {
		margin-bottom: 15px;
		li {
			top: 15px;
			//width: 50%;
			padding-bottom: 15px;
			&.col-xs-6:nth-child(even) {
				//padding-left: 0;
			}
			&.col-xs-6:nth-child(odd) {
				//padding-right: 0;
			}
			&:last-child {
				//width: 100%;
			}
		}
	}
	.partners {
		h2 {
			margin-top: 35px;
		}
		p {
			margin: 10px 20px 30px;
		}
	}
	.doublepane {
		.col-sm-6 {
			min-height: 325px;
			padding-left: 50px;
	    	padding-right: 50px;
	    }
		&.eligible {
			background-color: transparent !important;
			h2 {
				padding-top: 50px;
			}
			.col-sm-6:last-child {
				top: -12px;
			}
		}
		.condo &, .singlefam & {
			.col-sm-4 {
				border-bottom: 1px solid white;
				&:nth-child(2) {
					border-left: 0;
					border-right: 0;
					min-height: inherit;
				}
				&:last-child {
					border-bottom: 0;
				}
			}
		}
		.sp.condo & .col-sm-4:nth-child(2) {
		    min-height: initial;
		}
		&.claims {
			.col-sm-6, .col-sm-6:last-child {
				min-height: 375px;
			}
		}
		.liabcov &, .personalprop & {
			.col-sm-6:first-child {
				border-bottom: 1px solid white;
			}
			.col-sm-6:last-child {
				border-left: 0;
			}
		}
		.endorse & ul {
			width: 100%;
		}
	}
	.exclusions {
		.coinsure & ol {
    		width: 100%;
    	}
	}
} //End Xtra-Small Screen