@charset "utf-8";
//= require_self

// Styles Only for homeowners page

//h2 headers that are darkh4 color
.darkh5 {
	margin-top: 30px;
}

// Homeowners Page Photo, Text, Quote Box
.homeins {
	.feature {
	background-repeat: no-repeat;
	background-position: right bottom;
	background-image: url('../images/homeown/homeowners-insurance.png');
	min-height: 575px;
	position: relative;
	background-size: cover;
	.col-sm-6:first-child {
		padding-top: 5%;
	}
	p {
		color: white;
		font-size: 1.5em;
		line-height: 1.1;
		&:last-child {
			font-size: 0.9em;
		}
	}
	}
}

// Quote button within feature image
.btn-orange.btn {
	margin-bottom: 20px;
}

//Feature Icons
.featureicons {
	z-index: 1000;
	position:relative;
	ul {
		margin-left: -40px;
	}
	li {
		list-style: none;
		text-align: center;
		line-height: 1.2;
		top: -30px;
		float:left;
		position: relative;
		padding: 0 10px;
		a span {
			background-image: url('../images/homeown/homeown-featureicons.png');
			background-repeat: no-repeat;
			width: 80px;
			height: 80px;
			display: block;
			margin: 0 auto 10px;
			&.home {
				background-position: 0 0;
			}
			&.condo {
				background-position: 0 -160px;
			}
			&.townhome {
				background-position: 0 -320px;
			}
		}
		a:hover span {
			&.home {
				background-position: 0 -80px;
			}
			&.condo {
				background-position: 0 -240px;
			}
			&.townhome {
				background-position: 0 -400px;
			}
		}
		a {
			color: #798d96;
			&:hover {
				color: #0c93d2;
			}
		}
	}
}

// White button
.btn-white {
	margin: 10px auto 0;
}

// Partners/GNP
.partners {
	h2 {
		color: #0c93d2;
		font-size: 15px;
		margin-top: 28px;
		text-transform: uppercase;
		font-weight: 400;
	}
	span {
		background-image: url('../images/homeown/ho-gnp-logo.png');
		background-repeat: repeat-x;
		width: 154px;
		height: 57px;
		display: block;
		margin: 20px auto;
	}
	p {
		margin: 10px 50px 30px;
	}
}
// Double Pane
.doublepane {
	.col-sm-6 {
		background-repeat: no-repeat;
		background-position: center bottom;
		min-height: 275px;
		background-size: cover;
		padding-left: 75px;
    	padding-right: 75px;
    	h2 {
    		font-size: 20px;
    		text-transform: inherit;
    		padding-top: 40px;
    	}
    }
	&.eligible {
		background-color: transparent;
		.col-sm-6:first-child {
			background-image: url('../images/homeown/quote-img.png');
			background-position: center top; 
		}
		.col-sm-6:last-child {
			background-image: url('../images/homeown/elegibility-img.png');
			p.center {
				font-size: 0.8em;
			} 
		}
	}
	&.claims {
		h2 {
			font-size: 30px;
		}
		.flags {
			background-image: url('../images/homeown/flags.png');
			background-repeat: no-repeat;
			margin: 20px auto;
			height: 35px;
			width: 185px;
			display: block;
		}
		.col-sm-6:last-child {
			background-image: url('../images/homeown/telemarketer.png');
			background-position: center top; 
			min-height: 350px;
		}
	}
}

// Homeowners Coverage
.prodcoverage {
	position:relative;
	margin: 30px auto;
	ul {
		margin-left: -40px;
	}
	li,.carousel-inner {
		list-style: none;
		height: 175px;
		a span {
			background-image: url('../images/homeown/mxho-coverage-sprites.png');
			background-repeat: no-repeat;
			display: block;
			margin: 0 auto 10px;
			height: 67px;
			vertical-align: bottom;
			&.theft {
				background-position: 0 0;
				width: 67px;
			}
			&.deduct {
				background-position: 0 -67px;
				width: 66px;
			}
			&.catast {
				background-position: 0 -134px;
				width: 81px;
				height: 66px;
			}
			&.replace {
				background-position: 0 -200px;
				width: 70px;
			}
			&.liab {
				background-position: 0 -268px;
				width: 67px;
			}
			&.extraord {
				background-position: 0 -335px;
				width: 67px;
			}	
		}
		h5, p {
			text-align: center;
		}
		a:hover h5 {
			color: #0c93d2;
		}
	}
	#HomeownCatCarousel {
		.carousel-control.right, .carousel-control.left {
			margin-top: 10%;
		}
	}
}
//FAQs
dt {
	font-size: 1.1em;
	color: #0c93d2;
}

//Partners Page
.homepartner {
	img {
		float: left;
		margin: 0 15px 10px 0;
	}
}

/* Device Based css */

/* Large Screen size - Desktop : 1200px wide and larger */
@media (min-width:1200px) {

} // End Large Screen

/* Medium Screen Size - Tablet horizontal : 992px - 1199px wide */
@media (min-width:992px) and (max-width:1199px) {
	.feature {
		min-height: 450px;
		background-size: cover;
	}
}  //end Medium Screen

@media (max-width: 991px) {
//CSS Specific to navbar break point

}

/* Small  Screen Size - Tablet Vertical : 768px - 991px wide*/
@media (min-width:768px) and (max-width:991px) {
	.feature {
		min-height: 400px;
		background-size: cover;
		background-position: right bottom;
		h1 {
			margin-top: 45px;
			font-size: 1.6em;
		}
	}
	.featureicons {
		margin-bottom: 0;
	}	
	.doublepane {
		.col-sm-6 {
			min-height: 300px;
			padding-left: 50px;
	    	padding-right: 50px;
	    }
		&.eligible {
			background-color: transparent !important;
		}
	}
	.sp {
		.prodcoverage li {
			height: 200px;
		}
		.doublepane.claims .col-sm-6:last-child {
			min-height: 375px;
		}
	}
} // End Small Screen

/* Xtra-Small Screen Size - Phone : 480px - 767px */
@media (max-width:767px) {
	.feature {
		background-image: url('../images/homeown/homeowners-insurance-mobile.png');
		min-height: 400px;
		text-align: center;
		.col-sm-7:first-child {
			padding-top: 11%;
		}
		p {
			font-size: 1.7em;
			padding-bottom: 20px;
		}
	}
	.featureicons {
		margin-bottom: 15px;
		li {
			top: 15px;
			width: 50%;
			padding-bottom: 15px;
			&.col-xs-6:nth-child(even) {
				padding-left: 0;
			}
			&.col-xs-6:nth-child(odd) {
				padding-right: 0;
			}
			&:last-child {
				width: 100%;
			}
		}
	}
	.partners {
		h2 {
			margin-top: 35px;
		}
		p {
			margin: 10px 20px 30px;
		}
	}
	.doublepane {
		.col-sm-6 {
			min-height: 325px;
			padding-left: 50px;
	    	padding-right: 50px;
	    }
		&.eligible {
			background-color: transparent !important;
			h2 {
				padding-top: 50px;
			}
			.col-sm-6:last-child {
				top: -12px;
			}
		}
		&.claims {
			.col-sm-6, .col-sm-6:last-child {
				min-height: 375px;
			}
		}
	}
} //End Xtra-Small Screen