@charset "utf-8";
//= require_self

// Styles Only for home page

// Home Page Photo, Text, Quote Box
.feature {
	background-repeat: no-repeat;
	background-position: 85% 85%, right bottom;
	background-image: url('../images/accredited.png'), url('../images/home-page-1.png');
	min-height: 575px;
	position: relative;
	background-size: 110px 208px, cover;
	h1 {
		color: white;
		font-size: 1.8em;
		line-height: 1;
	}
}

// Quote box dropdown within feature image
.quotedropdown {
	.dropdown-menu {
		width: 270px;
		background-color: #d47d3a;
		padding: 0;
		margin: 0;
		font-size: 0.9em;
		border: 1px solid white;
		border-top: none;
		border-radius: 0 0 3px 3px;
		z-index: 1100; //puts above feature icons
		> li {
			background-color: #d47d3a;
			color: white;
			&:first-child {
				font-size: 0.8em;
				padding: 0 25px 5px;
			}
			> a, > a:visited, > a:active, > a:focus {
				background-color: #d47d3a;
				color: white;
				font-weight: 600;
				border-bottom: 1px solid #bf5d13;
				margin: 0;
				padding-top: 5px;
				padding-bottom: 5px;
			}
			> a:hover {
				background: #bf5d13;
				border-bottom: 1px solid #d47d3a;
			}
			&:last-child {
				> a, > a:hover, > a:visited, > a:active {
					border: none;
				}
			}
		}
	}

	.dropdown.open {
		.btn.btn-quotehome {
			border-bottom: none;
			border-radius: 3px 3px 0 0;
		}
	}
	
	.dropdown-submenu {
    	position: relative;
		>.dropdown-menu {
		    top: 0;
		    left: 100%;
		    border-radius: 0;
		    border: none;
		    background-color: #bf5d13;
		    width: 150px;
		    box-shadow: none;
		    -webkit-box-shadow: none;
		    > li {
		    	background-color: #bf5d13;
		    	&:first-child {
		    		font-size: 1em;
		    		padding: initial;
		    	}
		    	> a, a:hover, a:visited, a:active, a:focus {
		    		background-color: #bf5d13;
		    		border-bottom-color: #d47d3a;
		    		color: white;
		    		padding-top: 6px;
		    		padding-bottom: 6px;
		    	}
		    }
		}
		&:hover >.dropdown-menu {
		    display: block;
		}
		&.pull-left {
	    	float: none;
			& >.dropdown-menu {
			    left: -100%;
			    margin-left: 10px;
			    border-radius: 0;
		   	}
		}
	}

	/*.dropdown-submenu>a:after { // This will add white arrow pointing right
	    display: block;
	    content: " ";
	    float: right;
	    width: 0;
	    height: 0;
	    border-color: transparent;
	    border-style: solid;
	    border-width: 5px 0 5px 5px;
	    border-left-color: white;
	    margin-top: 5px;
	    margin-right: -10px;
	} */

	.dropdown-submenu:hover>a:after {
	    //border-left-color: #fff;
	}
}

.home-sp {
	.quotedropdown {
		.btn-quotehome.btn, .dropdown-menu {
			width: 300px;
		}
		.dropdown-submenu {
			> .dropdown-menu {
				width: initial;
			}
		}
	}
}


//Feature Icons
.featureicons {
	z-index: 1000;
	position:relative;
	ul {
		margin-left: -40px;
	}
	li {
		list-style: none;
		text-align: center;
		line-height: 1.2;
		top: -30px;
		width: 14%;
		float:left;
		position: relative;
		padding: 0 10px;
		a span {
			background-image: url('../images/featureiconsall.png');
			background-repeat: no-repeat;
			width: 80px;
			height: 80px;
			display: block;
			margin: 0 auto 10px;
			&.auto {
				background-position: 0 0;
			}
			&.home {
				background-position: 0 -160px;
			}
			&.boat {
				background-position: 0 -320px;
			}
			&.travel {
				background-position: 0 -480px;
			}
			&.usatourist {
				background-position: 0 -640px;
			}
			&.mexresauto {
				background-position: 0 -800px;
			}
			&.evac {
				background-position: 0 -960px;
			}
		}
		a:hover span {
			&.auto {
				background-position: 0 -80px;
			}
			&.home {
				background-position: 0 -240px;
			}
			&.boat {
				background-position: 0 -400px;
			}
			&.travel {
				background-position: 0 -560px;
			}
			&.usatourist {
				background-position: 0 -720px;
			}
			&.mexresauto {
				background-position: 0 -880px;
			}
			&.evac {
				background-position: 0 -1039px;
			}
		}
		a {
			color: #798d96;
			&:hover {
				color: #0c93d2;
			}
		}
	}
}

// Mexico insurance required, online policy easy section
.doublepane {
	color: white;
	max-width: 1500px;
	h2 {
		font-size: 15px;
		text-transform: uppercase;
		font-weight: 600;
		padding-top: 28px;
		margin-top: 0;
	}
	h3 {
		color: white;
		font-size: 40px;
		font-weight: normal;

	}
	.col-sm-6 {
		background-repeat: no-repeat;
		background-position: center left;
		max-width: 750px;
		min-height: 275px;
		background-size: cover;
		padding-left: 30px;
		padding-right: 30px;
	}
	.col-sm-6:first-child {
		background-image: url('../images/ck-drivers-license.png');
	}
	.col-sm-6:last-child {
		background-image: url('../images/using-mouse.png');
	}
}

// Product Categories
.prodcategories {
	position:relative;
	margin: 20px auto;
	ul {
		margin-left: -40px;
	}
	li,.carousel-inner {
		list-style: none;
		a span {
			background-image: url('../images/categoryiconsall.png');
			background-repeat: no-repeat;
			display: block;
			margin: 0 auto 10px;
			height: 72px;
			vertical-align: bottom;
			&.autocat {
				background-position: 0 0;
				width: 52px;
			}
			&.homecat {
				background-position: 0 -144px;
				width: 75px;
			}
			&.boatcat {
				background-position: 0 -288px;
				width: 87px;
			}
			&.travelcat {
				background-position: 0 -432px;
				width: 53px;
			}
			&.usatouristcat {
				background-position: 0 -576px;
				width: 52px;
			}
			&.mexresautocat {
				background-position: 0 -722px;
				width: 86px;
				height: 71px;
			}
		}
		a:hover span {
			&.autocat {
				background-position: 0 -72px;
			}
			&.homecat {
				background-position: 0 -216px;
			}
			&.boatcat {
				background-position: 0 -361px;
			}
			&.travelcat {
				background-position: 0 -503px;
			}
			&.usatouristcat {
				background-position: 0 -649px;
			}
			&.mexresautocat {
				background-position: 0 -793px;
			}
		}
		h5, p {
			text-align: center;
		}
		a:hover h5 {
			color: #0c93d2;
		}
	}
	#CatCarousel {
		.carousel-control.right, .carousel-control.left {
			margin-top: 10%;
		}
	}
}

.trusted {
	background-color: #0c93d2;
	color: white;
	.col-sm-6:first-child {
		padding: 0;
		.video {
			background-image: url('../images/play-button.png'),url('../images/company-photo750.png');
			background-position: 50% 50%, top center;
			max-width: 750px;
			min-height: 300px;
			background-size: 80px 80px, cover;
			background-repeat: no-repeat;
			display: block;
		}
	}
	.col-sm-6:last-child {
		background-image: url('../images/accredited-horiz.png');
		background-position: 50% 85%;
		background-size: 262px 73px;
		min-height: 300px;
		padding: 4% 5% 0;
		background-repeat: no-repeat;
	}
}

//Video Modal
#company-video {
	.modal-header {
		border: none;
	}
	.modal-footer {
		padding: 0;
		border: none;
	}
}

.partners {
	h2 {
		color: #0c93d2;
		font-size: 15px;
		margin-top: 28px;
		text-transform: uppercase;
		font-weight: 400;
	}
	h3 {
		font-size: 30px;
	}
	ul {
		margin-left: -40px;
	}
	li {
		list-style: none;
		display: inline;
		span {
			background-image: url('../images/partners.png');
			background-repeat: no-repeat;
			display: inline-block;
			margin: 0 auto 10px;
			width: 223px;
			height: 110px;
			&.aba {
				background-position: 0 0;
			}
			&.gnp {
				background-position: 0 -110px;
			}
			&.elag {
				background-position: 0 -220px;
			}
		}
	}
	margin-bottom: 25px;
}

/* Device Based css */

/* Large Screen size - Desktop : 1200px wide and larger */
@media (min-width:1200px) {

} // End Large Screen

/* Medium Screen Size - Tablet horizontal : 992px - 1199px wide */
@media (min-width:992px) and (max-width:1199px) {
	.feature {
		min-height: 450px;
		background-size: 90px 170px, cover;
	}
	.doublepane {
		.col-sm-6 {
			min-height: 325px;
		}
	}
	.trusted {
		.col-sm-6:first-child, .col-sm-6:last-child {
			.video {
				min-height: 275px;
			}
		}
		.col-sm-6:last-child {
			min-height: 275px;
			padding-top: 2%;
		}
	}
}  //end Medium Screen

@media (max-width: 991px) {
//CSS Specific to navbar break point
	.feature { // covers top nav
		//margin-top: 30px; replaced with content in bottom css
	}
}

/* Small  Screen Size - Tablet Vertical : 768px - 991px wide*/
@media (min-width:768px) and (max-width:991px) {
	.feature {
		min-height: 350px;
		background-size: 85px 160px, cover;
		background-position: 84% 88%, right bottom;
		h1 {
			margin-top: 45px;
			font-size: 1.6em;
		}
	}
	.featureicons {
		margin-bottom: 0;
	}
	.doublepane {
		.col-sm-6 {
			min-height: 350px;
		}
	}
	.trusted {
		.col-sm-6:first-child, .col-sm-6:last-child {
			.video {
				min-height: 200px;
			}
		}
		.col-sm-6:last-child {
			min-height: 200px;
			padding: 0 2% 0;
			h2 {
				font-size: 1.4em;
			}
			p {
				font-size: 0.9em;
			}
			background-position: 50% 90%;
		}
	}
} // End Small Screen

/* Xtra-Small Screen Size - Phone : 480px - 767px */
@media (max-width:767px) {
	.feature {
		background-image: url('../images/accredited-horiz.png'), url('../images/home-page-mobile-1.png');
		background-repeat: no-repeat;
		background-position: 55% 95%, right bottom;
		background-size: 262px 73px, cover;
		min-height: 570px;
		h1 {
			text-align: center;
			margin-top: 1.2em;
		}
		.dropdown {
			text-align: center;
		}
	}
	.featureicons {
		margin-bottom: 15px;
		li {
			top: 15px;
			width: 50%;
			padding-bottom: 15px;
			&:nth-child(even) {
				padding-left: 0;
			}
			&:nth-child(odd) {
				padding-right: 0;
			}
			&:last-child {
				width: 100%;
				padding-left: 10px;
				padding-right: 10px;
			}
		}
	}
	.quotedropdown {
		ul.dropdown-menu {
			margin: auto;
			float: none;
			position: relative;
			> li:last-child {
				> a, > a:hover, > a:visited, > a:active {
					padding-bottom: 8px;
				}
			}
		}
		.dropdown-submenu {
			>.dropdown-menu {
			    left: 0%;
			    min-width: 100%;
			}
		}
	}
	.home-sp {
		.quotedropdown {
			.dropdown-submenu {
				> .dropdown-menu {
					min-width: 100%;
				}
			}
		}
	}
	.doublepane {
		.col-sm-6{
			min-height: 390px;
			&:last-child {
				top: -30px;
    			min-height: 350px;
			}
		}
	}
	.prodcategories.container-fluid {
		margin: 0 auto;
	}
	.trusted {
		.col-sm-6:last-child {
			min-height: 260px;
			h2 {
				font-size: 1.5em;
				margin-bottom: 15px;
			}
			p {
				font-size: 1em;
			}
			background-position: 50% bottom;
		}
	}
	.partners li {
		width: 100%;
		display: block;
	}
} //End Xtra-Small Screen