@charset "utf-8";
//= require_self

// Put styles here!
header {
	&.navbar {
		min-height: 30px;
	}
	> .container {
		padding: 0;
	}
	.navbar-brand {
		padding: 0;
	}

	&.navbar-default {
		background-color: #0c93d2;
		color: #fff;
		height: 15px;
		font-weight: normal;
		background-image: none;
		box-shadow: none;
	}
	.navbar-nav {
		> li > a {
	    	padding-top: 5px;
	    	padding-bottom: 5px;
	    	&:after {
	    		content: "|";
	    		margin: 0 0 0 10px;
	    	}
	    }
    }
    .nav {
    	> li > a {
	    	padding-left: 0;
	    }
    }
}