@charset "utf-8";
//= require_self

// Put styles here!
.navbar-default {
	background-image: url(/images/nav-slice.png) !important;
	background-repeat: repeat-x;
	background-color: white;
	box-shadow: none;
	.navbar-header {
		min-height: 30px;
	}
	.navbar-brand {
		text-shadow: none;
		padding: 0 0 0 15px;
	}
	.navdivider {
		background-color: white;
		height: 12px;
		width: 1px;
		margin: 8px 0;
	}
	.navbar-nav {
		margin-left: 10px;
		> li > {
			a, a:focus {
				font-size: 12px;
				padding: 1px 10px;
			}
		}
	}
	.row1 {
		.navbar-nav > li > {
			a, a:focus, {
				
			}
		}
		.navbar-right {
			margin-right: 0;
		}
	} //end row 1
	.row2 {
		background-color: white;
		.col-sm-9 {
			padding-right: 0;
		}
		.navdivider {
			background-color: #798d96;
		}
		.navbar-nav {
			margin-left: 265px;
			> li > {
				a, a:focus, {
					color: #798d96;
					font-weight: 600;
					text-transform: uppercase;
				}
				a:active {
					color: #0c93d2;
				}
				a:hover {
					color: #0c93d2;
				}
			}
			.dropdown-menu {
				//border: none;
				//box-shadow: none;
				> li {
					> a, > a:hover {
						font-size: 13px;
						background-color: white;
						background-image: none;
						box-shadow: none;
					}
					> a:hover {
						color: #0c93d2;
					}
				}
			}
			> .open > a, > .active > a {
				background-image: none !important;
				background-color: transparent !important;
				text-shadow: none !important;
				box-shadow: none;
				color: #0c93d2;
				&:hover &:select {
					background-image: none !important;
					background-color: transparent !important;
					text-shadow: none !important;
				}
			}
		}
		.nav-btn {
			float: right;
			margin: 0 0 5px -40px;
		}
		li {
			list-style: none;
			display: inline;
			.btn {
				font-size: 12px;
				text-transform: uppercase;
				font-weight: 600;
				&.btn-login {
					background-color: #ebf1f4;
					color: #798d96;
					border-color: #cfe1e9;
					margin-right: 5px;
					&:hover, &:focus, &:active, &.active {
						background-color: #ebf1f4;
						color: #798d96;
						border-color: #cfe1e9;
					}
				}
				&.btn-buy {
					background-color: #ca6f29;
					color: white;
					&:hover, &:focus, &:active, &.active {
						background-color: #ca6f29;
						color: white;
					}
				}
				&.btn-login, &.btn-buy {
					margin-top: 5px;
				}
			}
			.btn-xs {
				padding: 1px 10px;
			}
		}
	} //end row 2
	.navbar-toggle {
		border: none;
		.icon-bar {
			background-color: white;
			border-color: transparent;
		}
		&:hover, &:focus {
			background-color: transparent;
		}
	}
}

/* Device Based css */

/* Large Screen size - Desktop : 1200px wide and larger */
@media (min-width:1200px) {


} // End Large Screen

/* Medium Screen Size - Tablet horizontal : 992px - 1199px wide */
@media (min-width:992px) and (max-width:1199px) {

}  //end Medium Screen

@media (max-width: 991px) {
//CSS Specific to navbar break point
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }

// CSS Specific to Mexpro Nav at breakpoint
.navbar-default {
	.row.row1 {
		display:none;
	}
	.navbar-header {
		.navbar-brand {
			img {
				&.logo-fixed {
					position: fixed;
					z-index: 2000;
					top: 0;
					left: 2%;
				}
			}
		}
		.search, .mobphonenav {
			float:right;
		}
		.search {
			margin-right: 15px;
			margin-top: 2px;
			a {
				color: white;
				font-size: 1.2em;
			}
		}
		.mobphonenav {
			margin: 0;
			.btn.btn-mobile {
				color: white;
				background-color: #15AAF2;
				border-color: white;
				padding: 2px 10px;
				font-size: 0.9em;
				position: relative;
				top: 2px;
			}
		}
	}
	.row.row2 {
		margin-right: 0;
		text-align: right;
		.nav-btn {
			display: none;
		}
		.navbar-nav {
			margin-left: 0;
			margin-top: 0;
			.btn-login, .btn-buy {
				margin-top: 10px;
				margin-bottom: 10px;
			}
			.btn-buy {
				margin-right: 5px;
			}
			> li {
				> a, > a:focus {
					padding-top: 5px;
					padding-bottom: 5px;
				}
			}
			li.phone > a, li.phone > a:focus {
				padding-left: 50px;
				padding-bottom: 15px;
			}
			.dropdown-menu {
				text-align: right;
				> li {
					> a {
						color: #798d96;
						&:hover {
							color: #0c93d2;
						}
					}
				}
			}
			.open .dropdown-menu { //removed drop down box on menu dropdowns
				position: static;
				float: none;
				width: auto;
				margin-top: 0;
				background-color: transparent;
				border: 0;
				-webkit-box-shadow: none;
				box-shadow: none;
				> li > a {
					line-height: 28px;
				}
			}
			.open .dropdown-menu, .dropdown-header {
				>li > a {
					padding: 0 15px 0 25px;
				}
			}
		}
	}
	.navdivider {
		display: none;
	}
	.navbar-toggle {
		margin-right: 5px;
		margin-left: 5px;
	}
}
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse { //removes scroll for dropdown
	max-height: none;
	
}
} // End 991px breakpoint

/* Small  Screen Size - Tablet Vertical : 768px - 991px wide*/
@media (min-width:768px) and (max-width:991px) {

} // End Small Screen

/* Xtra-Small Screen Size - Phone : 480px - 767px */
@media (max-width:767px) {


} //End Xtra-Small Screen

/* Xtra-Small Screen Size - Phone : 480px - 495px */
@media (max-width:495px) {
.mobphonenav {
	display:none;
}
} //End Xtra-Small Screen

/* Logo Screen Size small : 860px - 991px wide*/
@media (min-width:860px) and (max-width:991px) {
.navbar-default {
	.navbar-header {
		.navbar-brand {
			img {
				&.logo-fixed {
					left: 7%;
				}
			}
		}
	}
}
} // End Small Screen