@charset "utf-8";
//= require_self

// Put styles here!
.navbar-default {
	background-image: url(/images/nav-slice.png) !important;
	background-repeat: repeat-x;
	background-color: transparent !important;
	.navdivider {
		background-color: white;
		height: 13px;
		width: 1px;
		margin: 8px 0;
	}
	.navbar-nav {
		> li > {
			a, a:focus {
				font-size: 13px;
				padding: 1px 10px;
			}
		}
	}
	.row1 {
		.navbar-nav > li > {
			a, a:focus, {
				
			}
		}
	}
	.row2 {
		ul {
			margin-left: -40px;
		}
		.navdivider {
			background-color: #798d96;
		}
		.navbar-nav {
			> li > {
				a, a:focus, {
					color: #798d96;
					font-weight: 600;
					text-transform: uppercase;
				}
				a:active {
					color: #0c93d2;
				}
				a:hover {
					color: #0c93d2;
				}
			}
			.dropdown-menu {
				border: none;
				box-shadow: none;
				> li {
					> a, > a:hover {
						font-size: 14px;
						background-color: white;
						background-image: none;
						box-shadow: none;
					}
					> a:hover {
						color: #0c93d2;
					}
				}
			}
			> .open > a, > .active > a {
				background-image: none !important;
				background-color: transparent !important;
				text-shadow: none !important;
				box-shadow: none;
				color: #0c93d2;
				&:hover &:select {
					background-image: none !important;
					background-color: transparent !important;
					text-shadow: none !important;
				}
			}
		}
	}
}