@charset "utf-8";
//= require_self

// Put styles here!
.navbar-default {
	background-image: url(/images/nav-slice.png) !important;
	background-repeat: repeat-x;
	background-color: transparent !important;
	.navdivider {
		background-color: white;
		height: 13px;
		width: 1px;
		margin: 8px 0;
	}
	.navbar-nav {
		> li > {
			a, a:focus {
				font-size: 13px;
				padding: 1px 10px;
			}
		}
	}
	.row1 {
		.navbar-nav > li > {
			a, a:focus, {
				
			}
		}
		.navbar-right {
			margin-right: 0;
		}
	} //end row 1
	.row2 {
		.col-sm-9 {
			padding-right: 0;
		}
		ul {
			margin-left: -40px;
		}
		.navdivider {
			background-color: #798d96;
		}
		.navbar-nav {
			> li > {
				a, a:focus, {
					color: #798d96;
					font-weight: 600;
					text-transform: uppercase;
				}
				a:active {
					color: #0c93d2;
				}
				a:hover {
					color: #0c93d2;
				}
			}
			.dropdown-menu {
				border: none;
				box-shadow: none;
				> li {
					> a, > a:hover {
						font-size: 14px;
						background-color: white;
						background-image: none;
						box-shadow: none;
					}
					> a:hover {
						color: #0c93d2;
					}
				}
			}
			> .open > a, > .active > a {
				background-image: none !important;
				background-color: transparent !important;
				text-shadow: none !important;
				box-shadow: none;
				color: #0c93d2;
				&:hover &:select {
					background-image: none !important;
					background-color: transparent !important;
					text-shadow: none !important;
				}
			}
		}
		.nav-btn {
			float: right;
			margin: 5px 0;
			li {
				list-style: none;
				display: inline;
				.btn {
					font-size: 13px;
					text-transform: uppercase;
					font-weight: 600;
					width: 100px;
					&:first-child {
						margin-right: 5px;
					}
					&.btn-login {
						background-color: #ebf1f4;
						color: #798d96;
						border-color: #cfe1e9;
					}
					&.btn-buy {
						background-color: #ca6f29;
						color: white;
					}
				}
			}
		}
		clear:float;
	} //end row 2
}