@charset "utf-8";
//= require_self

// Put styles here!
.navbar-default {
	background-image: url(/images/nav-slice.png) !important;
	background-repeat: repeat-x;
	background-color: transparent;
	box-shadow: none;
	.navdivider {
		background-color: white;
		height: 12px;
		width: 1px;
		margin: 8px 0;
	}
	.navbar-nav {
		margin-left: 10px;
		> li > {
			a, a:focus {
				font-size: 12px;
				padding: 1px 10px;
			}
		}
	}
	.row1 {
		.navbar-nav > li > {
			a, a:focus, {
				
			}
		}
		.navbar-right {
			margin-right: 0;
		}
	} //end row 1
	.row2 {
		background-color: white;
		.col-sm-9 {
			padding-right: 0;
		}
		.navdivider {
			background-color: #798d96;
		}
		.navbar-nav {
			margin-left: 260px;
			> li > {
				a, a:focus, {
					color: #798d96;
					font-weight: 600;
					text-transform: uppercase;
				}
				a:active {
					color: #0c93d2;
				}
				a:hover {
					color: #0c93d2;
				}
			}
			.dropdown-menu {
				//border: none;
				//box-shadow: none;
				> li {
					> a, > a:hover {
						font-size: 13px;
						background-color: white;
						background-image: none;
						box-shadow: none;
					}
					> a:hover {
						color: #0c93d2;
					}
				}
			}
			> .open > a, > .active > a {
				background-image: none !important;
				background-color: transparent !important;
				text-shadow: none !important;
				box-shadow: none;
				color: #0c93d2;
				&:hover &:select {
					background-image: none !important;
					background-color: transparent !important;
					text-shadow: none !important;
				}
			}
		}
		.nav-btn {
			float: right;
			margin: 0 0 5px -40px;
			li {
				list-style: none;
				display: inline;
				.btn {
					font-size: 12px;
					text-transform: uppercase;
					font-weight: 600;
					&.btn-login {
						background-color: #ebf1f4;
						color: #798d96;
						border-color: #cfe1e9;
						margin-right: 5px;
						&:hover, &:focus, &:active, &.active {
							background-color: #ebf1f4;
							color: #798d96;
							border-color: #cfe1e9;
						}
					}
					&.btn-buy {
						background-color: #ca6f29;
						color: white;
						&:hover, &:focus, &:active, &.active {
							background-color: #ca6f29;
						}
					}
				}
				.btn-xs {
					padding: 1px 10px;
				}
			}
		}
	} //end row 2
	.navbar-toggle {
		border: none;
		.icon-bar {
			background-color: white;
			border-color: transparent;
		}
		&:hover, &:focus {
			background-color: transparent;
		}
	}
}

/* Device Based css */

/* Large Screen size - Desktop : 1200px wide and larger */
@media (min-width:1200px) {


} // End Large Screen

/* Medium Screen Size - Tablet horizontal : 992px - 1199px wide */
@media (min-width:992px) and (max-width:1199px) {

}  //end Medium Screen

/* Small  Screen Size - Tablet Vertical : 768px - 991px wide*/
@media (min-width:768px) and (max-width:991px) {

} // End Small Screen

@media (max-width: 991px) {
//CSS Specific to navbar break point
    .navbar-header {
        float: none;
    }
    .navbar-left,.navbar-right {
        float: none !important;
    }
    .navbar-toggle {
        display: block;
    }
    .navbar-collapse {
        border-top: 1px solid transparent;
        box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
    }
    .navbar-fixed-top {
        top: 0;
        border-width: 0 0 1px;
    }
    .navbar-collapse.collapse {
        display: none!important;
    }
    .navbar-nav {
        float: none!important;
        margin-top: 7.5px;
    }
    .navbar-nav>li {
        float: none;
    }
    .navbar-nav>li>a {
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .collapse.in{
        display:block !important;
    }

// CSS Specific to Mexpro Nav at breakpoint
.navbar-default {
	.row.row1 {
		display:none;
	}
	.navbar-header {
		.search, .mobphonenav {
			float:right;
			a {
				color: white;
				font-size: 0.9em;
			}
		}
		.mobphonenav a {
			font-size: 0.8em;
		}
	}
	.row.row2 {
		margin-right: 0;
		text-align: right;
		.nav-btn {
			display: none;
		}
		.navbar-nav {
			.dropdown-menu {
				text-align: right;
				> li {
					> a {
						color: #798d96;
						&:hover {
							color: #0c93d2;
						}
					}
				}
			}
			.open .dropdown-menu, .dropdown-header {
				>li > a {
					padding: 0 15px 0 25px;
				}
			}
		}
	}
	.navdivider {
		display: none;
	}
}
.navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse { //removes scroll for dropdown
	max-height: none;
	
}
} // End 991px breakpoint



/* Xtra-Small Screen Size - Phone : 480px - 767px */
@media (max-width:767px) {


} //End Xtra-Small Screen