@charset "utf-8";
//= require_self

// Styles Only for Partners pages

// Page Photo, Text, Quote Box
.feature {
	background-repeat: no-repeat;
	background-position: right top;
	background-image: url('../images/claims/claims-feature.jpg');
	min-height: 400px;
	position: relative;
	background-size: cover;
	margin-bottom: 30px;
	img {
			margin-top: 50px;
	}
	h1 {
		color: white;
		font-size: 1.8em;
		line-height: 1;
	}
	.gnp & {
		background-image: url('../images/gnp/gnp-banner.png');
	}
	.elag & {
		background-image: url('../images/el-aguila/el-aguila-banner.png');
		img {
			margin-top: 20px;
		}
	}
}
//Liability Full Coverage
.liabfulcov {
	margin-top: 35px;
	.container {
		margin-bottom: 30px;
	}
	darkh5 {
		margin-top: 20px;
	}
	span {
		&.liabimg, &.fullcovimg {
			background-image: url('../images/auto/auto-feature-sprite.png');
			background-position: 0 -807px;
			background-repeat: no-repeat;
			width: 70px;
			height: 69px;
			display: block;
			margin: 30px auto 10px;
		}
		&.fullcovimg {
			background-position: 0 -876px;
			width: 66px;
		}
	}
	.col-sm-6:first-child {
		padding-right: 30px;
	}
	.col-sm-6:last-child {
		padding-left: 30px;
	}
	//Bootstrap Accordion Main Body
	.bsaccordion {
		padding: 0;
		overflow:visible;
		.blue {
			margin-bottom: 0;
		}
		.panel-group, .panel-body {
			background-color: #f3f8fa;
			color: #798d96;
			border-bottom: 3px solid white;
			.panel {
				border-radius: 0;
				border-color: white;
				box-shadow: none;
				-webkit-box-shadow: none;
				+ .panel {
				    margin-top: 0;
				}
			}
		}
		.panel-heading {
			background-color: #d9e3e7;
			color: #3c4b52;
			border-radius: 0;
			.panel-title {
				font-size: inherit;
			}
		}
		.panel-group {
			margin-top: 30px;
		}
		.input-group {
			width: 100%;
		}
		.dropdown-menu {
			position: relative;
			width: 100%;
		}
		.panel-heading span {
			font-weight: normal;
		}
		.panel-heading span:before {
			content: "\e082";
		}
		.collapsed .panel-heading span:before {
			content: "\e081";
		}
	}
	// End Bootstrap Accordion
}

.steps {
	background-image:  url('../images/auto/coverage-slice.png');
	background-repeat: repeat-x;
	background-color: #fefefe;
	margin-top: 35px;
	.container {
		margin-bottom: 30px;
	}
}

// Mexico insurance required, online policy easy section
.doublepane {
	h2 {
		font-size: 24px !important;
	}
	.col-sm-12 {
		padding-top: 35px;
		padding-bottom: 50px;
	}
	.gnp & {
		ul {
			padding: 20px 40px;
			li {
				text-align: left;
				padding-bottom: 10px;
			}
		}
	}
}

/* Device Based css */

/* Large Screen size - Desktop : 1200px wide and larger */
@media (min-width:1200px) {

} // End Large Screen

/* Medium Screen Size - Tablet horizontal : 992px - 1199px wide */
@media (min-width:992px) and (max-width:1199px) {
	
}  //end Medium Screen

@media (max-width: 991px) {
//CSS Specific to navbar break point
	.feature {
		min-height: 400px;
	}
}

/* Small  Screen Size - Tablet Vertical : 768px - 991px wide*/
@media (min-width:768px) and (max-width:991px) {
	.feature {
		h1 {
			margin-top: 45px;
			font-size: 1.6em;
		}
	}
} // End Small Screen

/* Xtra-Small Screen Size - Phone : 480px - 767px */
@media (max-width:767px) {
	.feature {
		background-image: url('../images/claims/claims-feature-mobile.png');
		background-repeat: no-repeat;
		min-height: 450px;
		text-align: center;
		background-position: center top;
		h1 {
			text-align: center;
			margin-top: 1.2em;
		}
		.dropdown {
			text-align: center;
		}
		.gnp & {
			background-image: url('../images/gnp/gnp-banner-mobile.png');
		}
		.elag & {
			background-image: url('../images/el-aguila/el-aguila-banner-mobile.png');
		}
	}
	.btn-orange.btn {
		width: 100%;
	}

	.liabfulcov .container {
		margin-bottom: 0;
	}

	.partners #ClaimCarousel {
		div {
			width: 223px;
			margin: auto;
			&.title {
				padding: 10px;
				color: #3c4b52;
				background-color: #d9e3e7;
				margin: 5px 0 1px;
			}
			&.phone1, &.phone2 {
				padding: 20px 0;
				background-color: #f3f8fa;
			}
			span {
				background-image: none;
				margin: 0 auto;
				text-align: center;
				width: 223px;
				height: 100%;
				&.aba, &.elag, &.gnp, &.mexvisit {
					background-image: url('../images/claims/claimsfeatureicons-mobile.png');
					height: 110px;
					padding: 0;
				}
				&.aba {
					background-position: 0 0;
				}
				&.elag {
					background-position: 0 -110px;
				}
				&.gnp {
					background-position: 0 -220px;
				}
				&.mexvisit {
					background-position: 0 -330px;
				}
			}
		}
		.carousel-control {
			&.right, &.left {
				.icon-next, .icon-prev {
					background-image: none;
				}
			} 
		}
	} // end partners css
	.doublepane {
		.gnp & {
			ul {
				padding: 0 25px 0 40px;
				margin-bottom: 0;
			}
		}
	}
} //End Xtra-Small Screen