@charset "utf-8";
//= require_self

// Styles Only for Product pages

//h2 headers that are darkh4 color
.darkh5 {
	margin-top: 30px;
}

// Auto Page Photo, Text, Quote Box
.feature {
	background-repeat: no-repeat;
	background-position: right bottom;
	background-image: url('../images/auto/mexico-insurance.jpg');
	min-height: 500px;
	position: relative;
	background-size: cover;
	.col-sm-6:first-child {
		padding-top: 2%;
	}
	h1, p {
		color: white;
		font-size: 1.8em;
		line-height: 1.2;
	}
	p {
		font-size: 1em;
		&:last-child {
			font-size: 0.9em;
		}
	}
	.res-auto-page & {
		min-height: 450px;
	}
	.res-auto-page & {
		background-image: url('../images/res-auto/resident-auto-feature.jpg');
		background-position: right top;
		min-height: 400px;
	}
	.usatourist & {
		background-image: url('../images/usa-auto/usa-feature.jpg');
		background-position: right top;
		min-height: 450px;
	}
	.tme & {
		background-image: url('../images/tme/tme-feature.jpg');
		background-position: right top;
	}
	.travelhealth & {
		background-image: url('../images/travel-health/thi-feature.jpg');
		background-position: right top;
	}
}

.usatourist1 {
	h2 {
		color: #0c93d2;
	}
}

// Quote button within feature image


//Feature Icons
.featureicons {
	z-index: 1000;
	position:relative;
	ul {
		margin-left: -40px;
	}
	li {
		list-style: none;
		text-align: center;
		line-height: 1.2;
		top: -30px;
		width: 20%;
		float:left;
		position: relative;
		padding: 0 10px;
		a span {
			background-image: url('../images/auto/auto-feature-sprite.png');
			background-repeat: no-repeat;
			width: 80px;
			height: 80px;
			display: block;
			margin: 0 auto 10px;
			&.auto {
				background-position: 0 0;
			}
			&.moto {
				background-position: 0 -81px;
			}
			&.autv {
				background-position: 0 -163px;
			}
			&.rv {
				background-position: 0 -245px;
			}
			&.towed {
				background-position: 0 -327px;
			}
		}
		a:hover span {
			&.auto {
				background-position: 0 -408px;
			}
			&.moto {
				background-position: 0 -488px;
			}
			&.autv {
				background-position: 0 -568px;
			}
			&.rv {
				background-position: 0 -648px;
			}
			&.towed {
				background-position: 0 -728px;
			}
		}
		a {
			color: #798d96;
			&:hover {
				color: #0c93d2;
			}
		}
	}
}

// White button
.btn-white {
	margin: 10px auto 0;
}

//Sections with no need for special programming
//Addition of Nationwide Logo TME
.desc {
	padding: 20px;
	span.nationwide {
		background-image: url('../images/tme/nationwide-logo.jpg');
		background-repeat: no-repeat;
		display: block;
		margin: 30px auto 20px;
		width: 164px;
		height: 172px;
	}
}

//Steps or questions - on resident auto
.steps {
	margin-bottom: 30px 20px 20px;
	.col-sm-12 {
		text-align: center;
		margin: 0 auto;
		font-size: 0.9em;

	}
	h2 {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	p {
		font-size: 0.8em;
		&.font {
			font-size: 1em;
		}
	}
	span {
		&.step {
			background-image: url('../images/orange-circle-icon.png');
			background-repeat: no-repeat;
			width: 80px;
			height: 80px;
			display: block;
			margin: 0 auto;
			padding-top: 20px;
			font-size: 2em;
			font-weight: bold;
			color: white;
		}
	}
	.col-sm-3, .col-sm-4 {
		padding-left: 30px;
		padding-right: 30px;
		margin-bottom: 20px;
		border-right: 2px solid #e2e2e2;
		height: 150px;
		&:last-child {
			border-right: 0;
		}
	}
	.col-sm-4 {
		height: 200px;
	}
	p.darkh5 {
		font-size: 1em;
		line-height: 1.2;
		margin-top: 15px;
		color: #3c4b52;
	}
}

//Doublepane 
.doublepane {
	.res-auto-page & { // Resident Auto
		.col-sm-6 {
			background-repeat: no-repeat;
			background-position: center bottom;
			min-height: 275px;
			background-size: cover;
			padding-left: 75px;
	    	padding-right: 75px;
	    	h2 {
	    		font-size: 20px;
	    		text-transform: inherit;
	    		padding-top: 40px;
	    	}
	    	&:last-child {
			    background-image: url('../images/homeown/telemarketer.jpg');
			    background-position: center top;
			    min-height: 350px;
			}
		}
	}
	.usatourist & { //Northbound
		.col-sm-6 {
			padding: 20px 40px;
			&:last-child {
			    background-image: url('../images/usa-auto/usa-accident.jpg');
			    background-position: right top;
			    min-height: 400px;
			}
		}
	}
	.tme & { // Travel Medevac
		.col-sm-6 {
			padding: 40px;
			span.tmelogo {
				background-image: url('../images/tme/tme-logo.png');
				display: block;
				margin: 20px auto;
				width: 285px;
				height: 88px;
			}
			&:last-child {
			    background-image: url('../images/tme/doublepane-airplane.jpg');
			    background-position: center top;
			    min-height: 350px;
			}
		}
	}
	.travelhealth & { // Travel Health
    	.col-sm-3, .col-sm-4 {
    		margin: 15px 0 25px;
    	}
    }
}

// Partners - on resident auto
.partners {
	h2 {
		color: #0c93d2;
		font-size: 15px;
		margin-top: 28px;
		text-transform: uppercase;
		font-weight: 400;
	}
	h3 {
		font-size: 30px;
	}
	ul {
		margin-left: -40px;
	}
	li {
		list-style: none;
		display: inline;
		span {
			background-image: url('../images/partners.jpg');
			background-repeat: no-repeat;
			display: inline-block;
			margin: 0 auto 10px;
			width: 223px;
			height: 110px;
			&.aba {
				background-position: 0 1px;
			}
			&.gnp {
				background-position: 0 -110px;
			}
			&.elag {
				background-position: 0 -220px;
			}
		}
	}
	margin-bottom: 25px;
}

.autocov {
	background-image:  url('../images/auto/coverage-slice.png');
	background-repeat: repeat-x;
	background-color: #fefefe;
	margin-top: 35px;
	.container {
		margin-bottom: 30px;
	}
	darkh5 {
		margin-top: 20px;
	}
	span {
		&.liabimg, &.fullcovimg {
			background-image: url('../images/auto/auto-feature-sprite.png');
			background-position: 0 -808px;
			background-repeat: no-repeat;
			width: 70px;
			height: 69px;
			display: block;
			margin: 30px auto 10px;
		}
		&.fullcovimg {
			background-position: 0 -876px;
			width: 66px;
		}
	}
	.col-sm-6:first-child {
		padding-right: 30px;
	}
	.col-sm-6:last-child {
		padding-left: 30px;
	}
	.usatourist & {
		background: transparent;
		margin-top: 10px;
		p:last-child {
			font-size: 0.85em;
		}
	}
	.travelhealth & {
		h3 {
			text-transform: uppercase;
			font-stretch: extra-condensed;
			margin-bottom: 40px;
			font-size: 1em;
		}
		ul {
			margin-left: -40px;
			li {
				list-style: none;
			    text-align: center;
			    line-height: 1.2;
			    width: 20%;
			    float: left;
			    position: relative;
			    padding: 0 10px;
			    span {
			    	background-image: url('../images/travel-health/thi-coverage-icons.png');
					background-repeat: no-repeat;
					width: 80px;
					height: 80px;
					display: block;
					margin: 0 auto 10px;
					&.passport {
						background-position: 0 0;
						height: 65px;
						width: 55px;
					}
					&.handshake {
						background-position: 0 -65px;
						height: 52px;
						width: 85px;
					}
					&.cruise {
						background-position: 0 -117px;
						height: 71px;
						width: 58px;
					}
					&.briefcase {
						background-position: 0 -188px;
						height: 60px;
						width: 68px;
					}
					&.student {
						background-position: 0 -248px;
						height: 69px;
						width: 69px;
					}
					&.family {
						background-position: 0 -317px;
						height: 64px;
						width: 73px;
					}
					&.flags {
						background-position: 0 -381px;
						height: 66px;
						width: 93px;
					}
					&.globe {
						background-position: 0 -447px;
						height: 63px;
						width: 63px;
					}
					&.check {
						background-position: 0 -510px;
						height: 62px;
						width: 62px;
					}
					&.rv {
						background-position: 0 -572px;
						height: 57px;
						width: 71px;
					}
			    }
			}
		}
	}
	.travelhealth &.two {
		margin-top: 0;
		ul li {
			width: 25%;
		}
	}
}

.why, .claims {
	background-color: #0c93d2;
	color: white;
	.autowhy, .claimsimg {
		max-width: 750px;
		min-height: 360px;
		background-size: cover;
		background-repeat: no-repeat;
		display: block;
	}
}

.why {
	.autowhy {
		background-image: url('../images/auto/why-mex-ins.jpg');
		background-position: top right;
	}
	.col-sm-6:first-child {
		padding: 0;
	}
	.col-sm-6:last-child {
		min-height: 360px;
		padding: 4% 6% 0;
	}
}

.claims {
	.claimsimg {
		background-image: url('../images/auto/claims-img.jpg');
		background-position: top left;
	}
	.col-sm-6:first-child {
		min-height: 360px;
		padding: 4% 6% 0;
	}
	.col-sm-6:last-child {
		padding: 0;
	}
}

.tip {
	background-image: url('../images/auto/tip.jpg');
	width: 555px;
	height: 308px;
	background-repeat: no-repeat;
	display: block;
	margin: 20px auto 0;
}

// auto/insurance page css
.auto-insurance, .auto-reasons, .auto-law { 
	.carins1, .motoins1, .rvins1, .autolawimg {
		background-repeat: no-repeat;
		display: block;
		margin: 20px;
		margin-right: 50px;
		float: right;
	}
	.carins1 {
		background-image: url('../images/auto/car-insurance1.jpg');
		width: 167px;
		height: 84px;
	}
	.motoins1 {
		background-image: url('../images/auto/motorcycle-insurance1.jpg');
		width: 131px;
		height: 84px;
	}
	.rvins1 {
		background-image: url('../images/auto/rv-insurance1.jpg');
		width: 150px;
		height: 84px;
	}
	.reasonsimg { 
		background-image: url('../images/auto/police-pulled-over.jpg');
		width: 350px;
		height: 243px;
		float: right;
		margin: 10px 0 10px 15px;
		border-radius: 6px;
	}
	.autolawimg { 
		background-image: url('../images/auto/mexican-jail.jpg');
		width: 450px;
		height: 299px;
		float: right;
		margin: 10px 0 10px 15px;
		border-radius: 6px;
	}
	h1, h2 {
		margin-top: 45px;
	}
	h2 {
		color: #0c93d2;
		font-size: 1.4em;
	}
}
.auto-law {
	.OptEndTablePad {
		width: 50% !important;
	}
}

// boat, rv pages
.boat, .rv {
	h2 {
		color: #0c93d2;
		text-align: center;
	}
	.img-responsive {
		margin-bottom: 15px;
	}
}

// motorcycle pages
.moto {
	h2 {
		color: #0c93d2;
	}
	img.center {
		margin: 20px auto;
	}
}

//Holiday medical insurance
.holiday-medical-insurance {
	.row {
		.col-sm-6 {
			padding-left: 0;
		}
	}
	.imgprod1, .imgprod2, .imgprod3, .imgprod4 {
		background-image: url('../images/travel-health/travmed-imgprods.jpg');
		width: 175px;
		height: 117px;
		float: left;
		margin-right: 15px;
		margin-bottom: 15px;
		border: 1px solid #eee;
	}
	.imgprod1 {
		background-position: 0 0;
	} 
	.imgprod2 {
		background-position: 0 -117px;
	}
	.imgprod3 {
		background-position: 0 -234px;
	}
}

/* Device Based css */

/* Large Screen size - Desktop : 1200px wide and larger */
@media (min-width:1500px) {
	.container-fluid {
		&.why, &.claims {
			width: 1500px;
		}
	}
} // End Large Screen
@media (min-width:1200px) {

} // End Large Screen

/* Medium Screen Size - Tablet horizontal : 992px - 1199px wide */
@media (min-width:992px) and (max-width:1199px) {
	.feature {
		min-height: 425px;
		background-size: cover;
		.res-auto-page & {
			min-height: 350px;
		}
		.usatourist &, .tme & {
			min-height: 400px;
		}
	}
	.trusted {
		.col-sm-6:first-child, .col-sm-6:last-child {
			.video {
				min-height: 275px;
			}
		}
		.col-sm-6:last-child {
			min-height: 275px;
			padding-top: 2%;
		}
	}
}  //end Medium Screen

@media (max-width: 991px) {
//CSS Specific to navbar break point

}

/* Small  Screen Size - Tablet Vertical : 768px - 991px wide*/
@media (min-width:768px) and (max-width:991px) {
	.feature {
		min-height: 350px;
		background-size: cover;
		background-position: right bottom;
		h1 {
			margin-top: 45px;
			font-size: 1.6em;
			.sp &, .tme & {
				font-size: 1.4em;
				margin-top: 35px;
			}
		}
		.res-auto-page &, .tme & {
			min-height: 350px;
		}
		.usatourist & {
			min-height: 300px;
		}
	}
	.featureicons {
		margin-bottom: 0;
	}
	.steps {
		.col-md-2 {
			margin-bottom: 30px;
			height: 160px;
			border: none;
			border-bottom: 2px solid #e2e2e2;
		}
	}
	.doublepane {
		.col-sm-6 {
			min-height: 300px;
			padding-left: 50px;
	    	padding-right: 50px;
	    }
	    .usatourist & {
	    	.col-sm-6:last-child {
	    		min-height: 555px;
	    	}
	    }
	}
	.trusted {
		.col-sm-6:first-child, .col-sm-6:last-child {
			.video {
				min-height: 200px;
			}
		}
		.col-sm-6:last-child {
			min-height: 200px;
			padding: 0 2% 0;
			h2 {
				font-size: 1.4em;
			}
			p {
				font-size: 0.9em;
			}
			background-position: 50% 90%;
		}
	}
	.sp {
		.why {
			.autowhy {
				min-height: 400px;
			}
		}
	}

} // End Small Screen

/* Xtra-Small Screen Size - Phone : 480px - 767px */
@media (max-width:767px) {
	.feature {
		background-image: url('../images/auto/mexico-insurance-mobile.jpg');
		background-repeat: no-repeat;
		min-height: 450px;
		text-align: center;
		h1 {
			text-align: center;
			margin-top: 1.6em;
			font-size: 1.4em;
		}
		.res-auto-page & {
			min-height: 350px;
			background-position: center top;
		}
		.usatourist & {
			background-image: url('../images/usa-auto/usa-feature-mobile.jpg');
			background-position: center bottom;
			min-height: 400px;
		}
		.tme & {
			background-image: url('../images/tme/tme-feature-mobile.jpg');
			background-position: center top;
			min-height: 400px;
		}
		.travelhealth & {
			background-position: center top;
		}
	}
	.featureicons {
		margin-bottom: 15px;
		li {
			top: 15px;
			width: 50%;
			padding-bottom: 15px;
			&.col-xs-6:nth-child(even) {
				padding-left: 0;
			}
			&.col-xs-6:nth-child(odd) {
				padding-right: 0;
			}
			&:last-child {
				width: 100%;
			}
		}
	}
	.steps {
		margin-bottom: 20px;
		.col-md-2 {
			border-right: 0;
			height: inherit;
		    padding-top: 20px;
		    padding-bottom: 15px;
		    margin-bottom: 0;
		    hr {
		    	color: #e2e2e2;
		    	width: 80%;
		    	border-bottom: 2px solid #e2e2e2;
		    }
		}
		p.font {
			margin-top: 20px;
		}
		.usatourist & {
			.col-sm-3 {
				border-right: 0;
			}
		}
	}
	.autocov {
		.travelhealth & {
			ul li {
				width: 50%;
				height: 150px;
				margin-top: 15px;
				&:last-child {
					width: 100%;
				}
			}
		}
		.travelhealth &.two {
			ul li {
				width: 50%;
				height: 140px;
			}
		}
	}
	.doublepane {
		.col-sm-6 {
			min-height: 325px;
			padding-left: 50px;
	    	padding-right: 50px;
	    }
	    .col-sm-6:first-child {
			min-height: 250px;
		}
		p {
			text-align: center;
		}
	}
	.why, .claims {
		.col-xs-12 {
			background-position: top center;
			min-height: 300px;
			h2 {
				margin-top: 28px;
			}
		}
	}
	.why {
		.col-xs-12 {
			background-image: url('../images/auto/why-mex-ins.jpg');
		}
	}

	.claims {
		.col-xs-12 {
			background-image: url('../images/auto/claims-img.jpg');
			height: 325px;
		}
	}
	.tip {
		background-image: url('../images/auto/tip-mobile.jpg');
		width: 300px;
		height: 171px;
		background-position: top center;
	}
	.auto-insurance, .auto-reasons, .auto-law { 
		.carins1, .motoins1, .rvins1, .reasonsimg, .autolawimg {
			float: none;
			margin: 20px auto;
		}
		h2 {
			text-align: center;
			margin: 20px auto;
		}
	}
	.auto-law {
		.OptEndTablePad {
			width: initial !important;
		}
	}
} //End Xtra-Small Screen