@charset "utf-8";
//= require_self

// Styles Only for auto page

//h2 headers that are darkh4 color
.darkh5 {
	margin-top: 30px;
}

// Auto Page Photo, Text, Quote Box
.feature {
	background-repeat: no-repeat;
	background-position: right bottom;
	background-image: url('../images/auto/mexico-insurance.png');
	min-height: 500px;
	position: relative;
	background-size: cover;
	.col-sm-6:first-child {
		padding-top: 2%;
	}
	h1, p {
		color: white;
		font-size: 1.8em;
		line-height: 1.2;
	}
	p {
		font-size: 1em;
		&:last-child {
			font-size: 0.9em;
		}
	}
	.res-auto-page & {
		min-height: 450px;
	}
	.res-auto-page & {
		background-image: url('../images/res-auto/resident-auto-feature.png');
		background-position: right top;
		min-height: 400px;
	}
}

// Quote button within feature image


//Feature Icons
.featureicons {
	z-index: 1000;
	position:relative;
	ul {
		margin-left: -40px;
	}
	li {
		list-style: none;
		text-align: center;
		line-height: 1.2;
		top: -30px;
		width: 20%;
		float:left;
		position: relative;
		padding: 0 10px;
		a span {
			background-image: url('../images/auto/auto-feature-sprite.png');
			background-repeat: no-repeat;
			width: 80px;
			height: 80px;
			display: block;
			margin: 0 auto 10px;
			&.auto {
				background-position: 0 0;
			}
			&.moto {
				background-position: 0 -81px;
			}
			&.autv {
				background-position: 0 -163px;
			}
			&.rv {
				background-position: 0 -245px;
			}
			&.towed {
				background-position: 0 -327px;
			}
		}
		a:hover span {
			&.auto {
				background-position: 0 -408px;
			}
			&.moto {
				background-position: 0 -488px;
			}
			&.autv {
				background-position: 0 -568px;
			}
			&.rv {
				background-position: 0 -648px;
			}
			&.towed {
				background-position: 0 -728px;
			}
		}
		a {
			color: #798d96;
			&:hover {
				color: #0c93d2;
			}
		}
	}
}

// White button
.btn-white {
	margin: 10px auto 0;
}

//Steps or questions - on resident auto
.steps {
	margin-bottom: 20px;
	.col-sm-12 {
		text-align: center;
		margin: 0 auto;
		font-size: 0.9em;

	}
	.col-md-2 {
		padding-left: 30px;
		padding-right: 30px;
		margin-bottom: 20px;
		border-right: 2px solid #e2e2e2;
		&:last-child {
			border-right: 0;
		}
		height: 200px;
	}
	h2 {
		margin-top: 30px;
		margin-bottom: 30px;
	}
	p {
		font-size: 0.8em;
		&.font {
			font-size: 1em;
		}
	}
	span {
		&.step {
			background-image: url('../images/orange-circle-icon.png');
			background-repeat: no-repeat;
			width: 80px;
			height: 80px;
			display: block;
			margin: 0 auto;
		}
		p {
			position: relative;
			top: 20px;
			font-size: 2em;
			font-weight: bold;
			color: white;
		}

	}
	.usatourist & {
		.col-sm-3 {
			padding-left: 30px;
			padding-right: 30px;
			margin-bottom: 20px;
			border-right: 2px solid #e2e2e2;
			height: 150px;
			&:last-child {
				border-right: 0;
			}
		}
		p.darkh5 {
			font-size: 1em;
			line-height: 1.2;
			margin-top: 15px;
		}
	}
}

//Doublepane - on resident auto
.doublepane {
	.col-sm-6 {
		background-repeat: no-repeat;
		background-position: center bottom;
		min-height: 275px;
		background-size: cover;
		padding-left: 75px;
    	padding-right: 75px;
    	h2 {
    		font-size: 20px;
    		text-transform: inherit;
    		padding-top: 40px;
    	}
    	&:last-child {
		    background-image: url('../images/homeown/telemarketer.png');
		    background-position: center top;
		    min-height: 350px;
		}
	}
	.usatourist & {
		.col-sm-6 {
			padding: 20px 40px;
		}
	}
}

// Partners - on resident auto
.partners {
	h2 {
		color: #0c93d2;
		font-size: 15px;
		margin-top: 28px;
		text-transform: uppercase;
		font-weight: 400;
	}
	h3 {
		font-size: 30px;
	}
	ul {
		margin-left: -40px;
	}
	li {
		list-style: none;
		display: inline;
		span {
			background-image: url('../images/partners.png');
			background-repeat: no-repeat;
			display: inline-block;
			margin: 0 auto 10px;
			width: 223px;
			height: 110px;
			&.aba {
				background-position: 0 1px;
			}
			&.gnp {
				background-position: 0 -110px;
			}
			&.elag {
				background-position: 0 -220px;
			}
		}
	}
	margin-bottom: 25px;
}

.autocov {
	background-image:  url('../images/auto/coverage-slice.png');
	background-repeat: repeat-x;
	background-color: #fefefe;
	margin-top: 35px;
	.container {
		margin-bottom: 30px;
	}
	darkh5 {
		margin-top: 20px;
	}
	span {
		&.liabimg, &.fullcovimg {
			background-image: url('../images/auto/auto-feature-sprite.png');
			background-position: 0 -807px;
			background-repeat: no-repeat;
			width: 70px;
			height: 69px;
			display: block;
			margin: 30px auto 10px;
		}
		&.fullcovimg {
			background-position: 0 -876px;
			width: 66px;
		}
	}
	.col-sm-6:first-child {
		padding-right: 30px;
	}
	.col-sm-6:last-child {
		padding-left: 30px;
	}
	.usatourist & {
		background: transparent;
		margin-top: 10px;
		p:last-child {
			font-size: 0.85em;
		}
	}
}

.why, .claims {
	background-color: #0c93d2;
	color: white;
	.autowhy, .claimsimg {
		max-width: 750px;
		min-height: 360px;
		background-size: cover;
		background-repeat: no-repeat;
		display: block;
	}
}

.why {
	.autowhy {
		background-image: url('../images/auto/why-mex-ins.png');
		background-position: top right;
	}
	.col-sm-6:first-child {
		padding: 0;
	}
	.col-sm-6:last-child {
		min-height: 360px;
		padding: 4% 6% 0;
	}
}

.claims {
	.claimsimg {
		background-image: url('../images/auto/claims-img.png');
		background-position: top left;
	}
	.col-sm-6:first-child {
		min-height: 360px;
		padding: 4% 6% 0;
	}
	.col-sm-6:last-child {
		padding: 0;
	}
}

.tip {
	background-image: url('../images/auto/tip.png');
	width: 555px;
	height: 308px;
	background-repeat: no-repeat;
	display: block;
	margin: 20px auto 0;
}

/* Device Based css */

/* Large Screen size - Desktop : 1200px wide and larger */
@media (min-width:1200px) {

} // End Large Screen

/* Medium Screen Size - Tablet horizontal : 992px - 1199px wide */
@media (min-width:992px) and (max-width:1199px) {
	.feature {
		min-height: 425px;
		background-size: cover;
		.res-auto-page & {
			min-height: 350px;
		}
	}
	.trusted {
		.col-sm-6:first-child, .col-sm-6:last-child {
			.video {
				min-height: 275px;
			}
		}
		.col-sm-6:last-child {
			min-height: 275px;
			padding-top: 2%;
		}
	}
}  //end Medium Screen

@media (max-width: 991px) {
//CSS Specific to navbar break point

}

/* Small  Screen Size - Tablet Vertical : 768px - 991px wide*/
@media (min-width:768px) and (max-width:991px) {
	.feature {
		min-height: 350px;
		background-size: cover;
		background-position: right bottom;
		h1 {
			margin-top: 45px;
			font-size: 1.6em;
		}
		.res-auto-page & {
			min-height: 350px;
		}
	}
	.featureicons {
		margin-bottom: 0;
	}
	.steps {
		.col-md-2 {
			margin-bottom: 30px;
			height: 160px;
			border: none;
			border-bottom: 2px solid #e2e2e2;
		}
	}
	.doublepane {
		.col-sm-6 {
			min-height: 300px;
			padding-left: 50px;
	    	padding-right: 50px;
	    }
	}
	.trusted {
		.col-sm-6:first-child, .col-sm-6:last-child {
			.video {
				min-height: 200px;
			}
		}
		.col-sm-6:last-child {
			min-height: 200px;
			padding: 0 2% 0;
			h2 {
				font-size: 1.4em;
			}
			p {
				font-size: 0.9em;
			}
			background-position: 50% 90%;
		}
	}
	.sp {
		.why {
			.autowhy {
				min-height: 400px;
			}
		}
	}

} // End Small Screen

/* Xtra-Small Screen Size - Phone : 480px - 767px */
@media (max-width:767px) {
	.feature {
		background-image: url('../images/auto/mexico-insurance-mobile.png');
		background-repeat: no-repeat;
		min-height: 450px;
		text-align: center;
		h1 {
			text-align: center;
			margin-top: 1.6em;
			font-size: 1.4em;
		}
		.res-auto-page & {
			min-height: 350px;
			background-position: center top;
		}
	}
	.featureicons {
		margin-bottom: 15px;
		li {
			top: 15px;
			width: 50%;
			padding-bottom: 15px;
			&.col-xs-6:nth-child(even) {
				padding-left: 0;
			}
			&.col-xs-6:nth-child(odd) {
				padding-right: 0;
			}
			&:last-child {
				width: 100%;
			}
		}
	}
	.steps {
		margin-bottom: 20px;
		.col-md-2 {
			border-right: 0;
			height: inherit;
		    padding-top: 20px;
		    padding-bottom: 15px;
		    margin-bottom: 0;
		    hr {
		    	color: #e2e2e2;
		    	width: 80%;
		    	border-bottom: 2px solid #e2e2e2;
		    }
		}
		p.font {
			margin-top: 20px;
		}
	}
	.doublepane {
		.col-sm-6 {
			min-height: 325px;
			padding-left: 50px;
	    	padding-right: 50px;
	    }
	    .col-sm-6:first-child {
			min-height: 250px;
		}
	}
	.why, .claims {
		.col-xs-12 {
			background-position: top center;
			min-height: 300px;
			h2 {
				margin-top: 28px;
			}
		}
	}
	.why {
		.col-xs-12 {
			background-image: url('../images/auto/why-mex-ins.png');
		}
	}

	.claims {
		.col-xs-12 {
			background-image: url('../images/auto/claims-img.png');
			height: 325px;
		}
	}
	.tip {
		background-image: url('../images/auto/tip-mobile.png');
		width: 300px;
		height: 171px;
		background-position: top center;
	}
} //End Xtra-Small Screen