.feature {
  background-repeat: no-repeat;
  background-position: right bottom;
  background-image: url("../images/home-page-1.jpg");
  min-height: 575px;
  position: relative;
  background-size: cover; }
  .feature .overlay {
    background-color: white;
    top: 0;
    left: 0;
    position: relative;
    z-index: 1;
    opacity: 0.8; }
  .feature h1, .feature h2, .feature p {
    color: #3c4b52 !important; }
  .feature h1, .feature h2 {
    font-size: 1.8em;
    line-height: 1; }
  .feature h1 {
    margin-bottom: 0 !important; }
  .feature p {
    font-size: 1em !important; }

.featureicons {
  z-index: 1000;
  position: relative; }
  .featureicons ul {
    margin-left: -40px; }
  .featureicons li {
    list-style: none;
    text-align: center;
    line-height: 1.2;
    top: -30px;
    width: 14%;
    float: left;
    position: relative;
    padding: 0 10px; }
    .featureicons li a span {
      background-image: url("../images/featureiconsall.png");
      background-repeat: no-repeat;
      width: 80px;
      height: 80px;
      display: block;
      margin: 0 auto 10px; }
      .featureicons li a span.auto {
        background-position: 0 0; }
      .featureicons li a span.home {
        background-position: 0 -160px; }
      .featureicons li a span.boat {
        background-position: 0 -320px; }
      .featureicons li a span.travel {
        background-position: 0 -480px; }
      .featureicons li a span.usatourist {
        background-position: 0 -640px; }
      .featureicons li a span.mexresauto {
        background-position: 0 -800px; }
      .featureicons li a span.evac {
        background-position: 0 -960px; }
    .featureicons li a:hover span.auto {
      background-position: 0 -80px; }
    .featureicons li a:hover span.home {
      background-position: 0 -240px; }
    .featureicons li a:hover span.boat {
      background-position: 0 -400px; }
    .featureicons li a:hover span.travel {
      background-position: 0 -560px; }
    .featureicons li a:hover span.usatourist {
      background-position: 0 -720px; }
    .featureicons li a:hover span.mexresauto {
      background-position: 0 -880px; }
    .featureicons li a:hover span.evac {
      background-position: 0 -1039px; }
    .featureicons li a {
      color: #798d96; }
      .featureicons li a:hover {
        color: #0c93d2; }

.doublepane {
  background-color: transparent !important; }
  .doublepane .col-sm-6 {
    background-repeat: no-repeat;
    background-position: center left;
    min-height: 275px;
    background-size: cover;
    padding-left: 30px;
    padding-right: 30px; }

.trusted.doublepane .col-sm-6:first-child {
  padding: 0;
  background-image: none; }
  .trusted.doublepane .col-sm-6:first-child .video {
    background-image: url("../images/play-button.png"), url("../images/company-photo750.jpg");
    background-position: 50% 50%, top center;
    max-width: 750px;
    min-height: 300px;
    background-size: 80px 80px, cover;
    background-repeat: no-repeat;
    display: block; }
.trusted.doublepane .col-sm-6:last-child {
  background-color: #0c93d2; }
.home-sp .trusted.doublepane .col-sm-6:last-child {
  background-position: 50% 90%;
  padding-top: 1%; }

#company-video .modal-header {
  border: none; }
#company-video .modal-footer {
  padding: 0;
  border: none; }

/* Device Based css */
/* Large Screen size - Desktop : 1200px wide and larger */
/* Medium Screen Size - Tablet horizontal : 992px - 1199px wide */
@media (min-width: 992px) and (max-width: 1199px) {
  .feature {
    min-height: 450px;
    background-size: cover; }

  .doublepane .col-sm-6 {
    min-height: 325px; }

  .trusted.doublepane .col-sm-6 {
    min-height: 300px; }
  .home-sp .trusted.doublepane .col-sm-6:last-child {
    background-position: 50% 95%;
    padding-top: 1%; } }
/* Small  Screen Size - Tablet Vertical : 768px - 991px wide*/
@media (min-width: 768px) and (max-width: 991px) {
  .feature {
    min-height: 300px;
    background-size: cover;
    background-position: right bottom; }
    .feature h1 {
      margin-top: 45px;
      font-size: 1.6em; }

  .featureicons {
    margin-bottom: 0; }

  .doublepane .col-sm-6 {
    min-height: 350px; }
  .home-sp .doublepane .col-sm-6 {
    min-height: 375px; }

  .trusted.doublepane .col-sm-6 {
    min-height: 300px; }
  .trusted.doublepane .col-sm-6:last-child {
    padding: 2% 3% 0;
    background-position: 50% 80%; }
    .trusted.doublepane .col-sm-6:last-child h2 {
      font-size: 1.4em; }
    .trusted.doublepane .col-sm-6:last-child p {
      font-size: 0.9em; } }
/* Xtra-Small Screen Size - Phone : 480px - 767px */
@media (max-width: 767px) {
  .feature {
    background-image: url("../images/home-page-mobile-1.jpg");
    background-repeat: no-repeat;
    background-position: right bottom;
    background-size: cover;
    min-height: 570px; }
    .feature h1 {
      text-align: center;
      margin-top: 1.2em; }
    .feature .dropdown {
      text-align: center; }

  .featureicons {
    margin-bottom: 15px; }
    .featureicons li {
      top: 15px;
      width: 50%;
      padding-bottom: 20px; }
      .featureicons li:nth-child(even) {
        padding-left: 0; }
      .featureicons li:nth-child(odd) {
        padding-right: 0; }
      .featureicons li:last-child {
        width: 100%;
        padding-left: 10px;
        padding-right: 10px; }

  .quotedropdown ul.dropdown-menu {
    margin: auto;
    float: none;
    position: relative; }
    .quotedropdown ul.dropdown-menu > li:last-child > a, .quotedropdown ul.dropdown-menu > li:last-child > a:hover, .quotedropdown ul.dropdown-menu > li:last-child > a:visited, .quotedropdown ul.dropdown-menu > li:last-child > a:active {
      padding-bottom: 8px; }
  .quotedropdown .dropdown-submenu > .dropdown-menu {
    left: 0%;
    min-width: 100%; }

  .doublepane .col-sm-6 {
    min-height: 390px; }
    .doublepane .col-sm-6:last-child {
      top: -30px;
      min-height: 350px; }

  .prodcategories.container-fluid {
    margin: 0 auto; }

  .trusted.doublepane .col-sm-6 {
    min-height: 300px; }
  .trusted.doublepane .col-sm-6:last-child {
    background-position: 50% 90%;
    padding: 2% 5%  0;
    top: 0; }
    .trusted.doublepane .col-sm-6:last-child h2 {
      font-size: 1.5em;
      margin-bottom: 15px; }
    .trusted.doublepane .col-sm-6:last-child p {
      font-size: 1em; }

  .partners li {
    width: 100%;
    display: block; }

  .home-sp .feature {
    background-position: 55% 98%, right bottom; }
  .home-sp .quotedropdown .btn-orange.btn, .home-sp .quotedropdown .dropdown-menu {
    width: 270px; }
  .home-sp .quotedropdown .dropdown-submenu > .dropdown-menu {
    min-width: 100%; } }
