.modal-open .navbar-fixed-top {
  right: 15px; }

.navbar-default {
  background-image: url(../images/nav-slice.png) !important;
  background-repeat: repeat-x;
  background-color: white;
  box-shadow: none; }
  .navbar-default .navbar-header {
    min-height: 30px; }
  .navbar-default .navbar-brand {
    text-shadow: none;
    padding: 0 0 0 15px; }
  .navbar-default .navdivider {
    background-color: white;
    height: 12px;
    width: 1px;
    margin: 8px 0; }
  .navbar-default .navbar-nav {
    margin-left: 10px; }
    .navbar-default .navbar-nav > li > a, .navbar-default .navbar-nav > li > a:focus {
      font-size: 12px;
      padding: 1px 10px; }
  .navbar-default .row1 .navbar-right {
    margin-right: 0; }
  .navbar-default .row2 {
    background-color: white; }
    .navbar-default .row2 .col-sm-9 {
      padding-right: 0; }
    .navbar-default .row2 .navdivider {
      background-color: #798d96; }
    .navbar-default .row2 .navbar-nav {
      margin-left: 265px; }
      .navbar-default .row2 .navbar-nav > li > a {
        color: #798d96;
        background-image: none;
        background: white;
        font-weight: 600;
        text-transform: uppercase; }
      .navbar-default .row2 .navbar-nav > li.active > a, .navbar-default .row2 .navbar-nav > li > a:active, .navbar-default .row2 .navbar-nav > li > a:hover, .navbar-default .row2 .navbar-nav > li > a:focus {
        color: #0c93d2;
        background-image: none;
        background: white; }
      .navbar-default .row2 .navbar-nav .dropdown-menu > li > a, .navbar-default .row2 .navbar-nav .dropdown-menu > li > a:hover {
        font-size: 13px;
        background-color: white;
        background-image: none;
        box-shadow: none; }
      .navbar-default .row2 .navbar-nav .dropdown-menu > li > a:hover {
        color: #0c93d2; }
      .navbar-default .row2 .navbar-nav > .open > a, .navbar-default .row2 .navbar-nav > .active > a {
        background-image: none !important;
        background-color: transparent !important;
        text-shadow: none !important;
        box-shadow: none;
        color: #0c93d2;
        filter: none;
        border: none; }
        .navbar-default .row2 .navbar-nav > .open > a:hover .navbar-default .row2 .navbar-nav > .open > a:select, .navbar-default .row2 .navbar-nav > .active > a:hover .navbar-default .row2 .navbar-nav > .open > a:select, .navbar-default .row2 .navbar-nav > .open > a:hover .navbar-default .row2 .navbar-nav > .active > a:select, .navbar-default .row2 .navbar-nav > .active > a:hover .navbar-default .row2 .navbar-nav > .active > a:select {
          background-image: none !important;
          background-color: transparent !important;
          text-shadow: none !important; }
    .navbar-default .row2 .nav-btn {
      float: right;
      margin: 0 0 5px -40px; }
    .navbar-default .row2 li {
      list-style: none;
      display: inline; }
      .navbar-default .row2 li .btn {
        font-size: 12px;
        text-transform: uppercase;
        font-weight: 600; }
        .navbar-default .row2 li .btn.btn-login {
          background-color: #ebf1f4;
          color: #798d96;
          border-color: #cfe1e9;
          margin-right: 5px; }
          .navbar-default .row2 li .btn.btn-login:hover, .navbar-default .row2 li .btn.btn-login:focus, .navbar-default .row2 li .btn.btn-login:active, .navbar-default .row2 li .btn.btn-login.active {
            background-color: #ebf1f4;
            color: #798d96;
            border-color: #cfe1e9; }
        .navbar-default .row2 li .btn.btn-buy {
          background-color: #ca6f29;
          color: white; }
          .navbar-default .row2 li .btn.btn-buy:hover, .navbar-default .row2 li .btn.btn-buy:focus, .navbar-default .row2 li .btn.btn-buy:active, .navbar-default .row2 li .btn.btn-buy.active {
            background-color: #ca6f29;
            color: white; }
        .navbar-default .row2 li .btn.btn-login, .navbar-default .row2 li .btn.btn-buy {
          margin-top: 5px; }
      .navbar-default .row2 li .btn-xs {
        padding: 1px 10px; }
  .navbar-default .navbar-toggle {
    border: none; }
    .navbar-default .navbar-toggle .icon-bar {
      background-color: white;
      border-color: transparent; }
    .navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
      background-color: transparent; }
  .navbar-default .dropdown-menu {
    top: 33px; }
    .navbar-default .dropdown-menu > li > a {
      padding: 3px 10px; }

.modal .modal-header {
  padding: 10px 15px; }
  .modal .modal-header h2 {
    color: #3c4b52;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0; }
.modal .modal-body, .modal .modal-footer .btn {
  font-size: 1em; }

/* Device Based css */
/* Large Screen size - Desktop : 1200px wide and larger */
/* Medium Screen Size - Tablet horizontal : 992px - 1199px wide */
@media (max-width: 991px) {
  .navbar-header {
    float: none; }

  .navbar-left, .navbar-right {
    float: none !important; }

  .navbar-toggle {
    display: block; }

  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1); }

  .navbar-fixed-top {
    top: 0;
    border-width: 0; }

  .navbar-collapse.collapse {
    display: none !important; }

  .navbar-nav {
    float: none !important;
    margin-top: 7.5px; }

  .navbar-nav > li {
    float: none; }

  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px; }

  .collapse.in {
    display: block !important; }

  .navbar-default .row.row1 {
    display: none; }
  .navbar-default .navbar-header .navbar-brand img.logo-fixed {
    position: fixed;
    z-index: 2000;
    top: 0;
    left: 2%; }
  .navbar-default .navbar-header .search, .navbar-default .navbar-header .mobphonenav {
    float: right; }
  .navbar-default .navbar-header .search {
    margin-right: 15px;
    margin-top: 2px; }
    .navbar-default .navbar-header .search a {
      color: white;
      font-size: 1.2em; }
  .navbar-default .navbar-header .mobphonenav {
    margin: 0; }
    .navbar-default .navbar-header .mobphonenav .btn.btn-mobile {
      color: white;
      background-color: #15AAF2;
      border-color: white;
      padding: 1px 5px;
      font-size: 0.9em;
      position: relative;
      font-weight: bold;
      top: 2px; }
  .navbar-default .row.row2 {
    margin-right: 0;
    text-align: right; }
    .navbar-default .row.row2 .nav-btn {
      display: none; }
    .navbar-default .row.row2 .navbar-nav {
      margin-left: 0;
      margin-top: 0; }
      .navbar-default .row.row2 .navbar-nav .btn-login, .navbar-default .row.row2 .navbar-nav .btn-buy {
        margin-top: 10px;
        margin-bottom: 10px; }
      .navbar-default .row.row2 .navbar-nav .btn-buy {
        margin-right: 5px; }
      .navbar-default .row.row2 .navbar-nav > li > a, .navbar-default .row.row2 .navbar-nav > li > a:focus {
        padding-top: 5px;
        padding-bottom: 5px; }
      .navbar-default .row.row2 .navbar-nav li.phone > a, .navbar-default .row.row2 .navbar-nav li.phone > a:focus {
        padding-left: 50px;
        padding-bottom: 15px; }
      .navbar-default .row.row2 .navbar-nav .dropdown-menu {
        text-align: right; }
        .navbar-default .row.row2 .navbar-nav .dropdown-menu > li > a {
          color: #798d96; }
          .navbar-default .row.row2 .navbar-nav .dropdown-menu > li > a:hover {
            color: #0c93d2; }
      .navbar-default .row.row2 .navbar-nav .open .dropdown-menu {
        position: static;
        float: none;
        width: auto;
        margin-top: 0;
        background-color: transparent;
        border: 0;
        -webkit-box-shadow: none;
        box-shadow: none; }
        .navbar-default .row.row2 .navbar-nav .open .dropdown-menu > li > a {
          line-height: 28px; }
      .navbar-default .row.row2 .navbar-nav .open .dropdown-menu > li > a, .navbar-default .row.row2 .navbar-nav .dropdown-header > li > a {
        padding: 0 15px 0 25px; }
  .navbar-default .navdivider {
    display: none; }
  .navbar-default .navbar-toggle {
    margin-right: 5px;
    margin-left: 5px; }
  .navbar-default .dropdown-menu {
    top: initial; }

  .navbar-fixed-top .navbar-collapse, .navbar-fixed-bottom .navbar-collapse {
    max-height: none; } }
/* Small  Screen Size - Tablet Vertical : 768px - 991px wide*/
/* Xtra-Small Screen Size - Phone : 480px - 767px */
/* Xtra-Small Screen Size - Phone : 480px - 495px */
@media (max-width: 495px) {
  .mobphonenav {
    display: none; } }
/* Logo Screen Size small : 860px - 991px wide*/
@media (min-width: 860px) and (max-width: 991px) {
  .navbar-default .navbar-header .navbar-brand img.logo-fixed {
    left: 7%; } }
